extends ../layout/main
block title
  | Контакты
block content
  body.inner-body
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="js/yandex-map.js")
    include ../modules/page-header


    main.contacts
      header.inner-header.contacts__inner-header
        .container
          ul.breadcrumbs.contacts__breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Контакты
          .inner-header__bottom-wrapper
            h1.inner-header__title Контакты
      section.contacts__top-map
        .container
          h2.contacts__title.contacts__title--manage-company Управляющая компания #[br] «КераМир»
        .container
          .contacts__address-wrapper
            h3.contacts-subtitle Центральный офис:
            ul.contacts__list.contacts-list
              li.contacts-list__item
                span.contacts-list__key Адрес компании:
                span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
              li.contacts-list__item
                span.contacts-list__key Телефон/факс:
                span.contacts-list__value +7 (812)
                  span.contacts__phone 324-60-59
              li.contacts-list__item
                span.contacts-list__key Электронный адрес:
                span.contacts__value office@keramir.com
            h3.contacts-subtitle Производство:
            ul.contacts-list.contacts__list
              li.contacts-list__item
                span.contacts-list__key Телефон/факс:
                span.contacts-list__value +7 (812)
                  span.contacts-list__phone 324-60-59
              li.contacts-list__item
                span.contacts-list__key Электронный адрес:
                span.contacts-list__value office@keramir.com
          .contacts__ya-map#map
      section.contacts__store
        .container
          h2.contacts__title Магазин &laquo;Название&raquo;
          .contacts__row
            .contacts__text-column
              ul.contacts__list.contacts-list
                li.contacts-list__item
                  span.contacts-list__key Адрес компании:
                  span.contacts__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                li.contacts-list__item
                  span.contacts-list__key Телефон/факс:
                  span.contacts__value +7 (812)
                    span.contacts__phone 324-60-59
                li.contacts-list__item
                  span.contacts-list__key Электронный адрес:
                  span.contacts-list__value office@keramir.com
            .contacts__small-ya-map#map2
      section.contacts__branches.branches
        .container
          h2.branches__title Региональные представительства
          ul.contacts__branches-list.branches__list
            li.branches__item
              .branches__inner
                span.branches__city Москва
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                  li.contacts-list__item
                    span.contacts-list__key Факс:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
            li.branches__item
              .branches__inner
                span.branches__city Санкт-Петербург
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                  li.contacts-list__item
                    span.contacts-list__key Факс:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
            li.branches__item
              .branches__inner
                span.branches__city Самара
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                  li.contacts-list__item
                    span.contacts-list__key Факс:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
            li.branches__item
              .branches__inner
                span.branches__city Казань
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                  li.contacts-list__item
                    span.contacts-list__key Факс:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
            li.branches__item
              .branches__inner
                span.branches__city Краснодар
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                  li.contacts-list__item
                    span.contacts-list__key Факс:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
            li.branches__item
              .branches__inner
                span.branches__city Челябинск
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                    li.contacts-list__item
                      span.contacts-list__key Электронный адрес:
                      span.contacts-list__value office@keramir.com
                    li.contacts-list__item
                      span.contacts-list__key Телефон:
                      span.contacts-list__value +7 (812)
                        span.contacts-list__phone 324-60-59
                    li.contacts-list__item
                      span.contacts-list__key Факс:
                      span.contacts-list__value +7 (812)
                        span.contacts-list__phone 324-60-59
            li.branches__item
              .branches__inner
                span.branches__city Новосибирск
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list.contacts__list
                    li.contacts-list__item
                      span.contacts-list__key Электронный адрес:
                      span.contacts-list__value office@keramir.com
                    li.contacts-list__item
                      span.contacts-list__key Телефон:
                      span.contacts-list__value +7 (812)
                        span.contacts-list__phone 324-60-59
                    li.contacts-list__item
                      span.contacts-list__key Факс:
                      span.contacts-list__value +7 (812)
                        span.contacts__phone 324-60-59



    include ../modules/footer
    button(type="button" class="back-to-top" title="Back to top") &uarr;



