extends ../layout/main
block title
  | Главная
block content
  body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    header.main-header
      .main-header__top-header
        .mobile-header
          .menu-toggle
            span
            span
            span
            span
          a.mobile-header__logo(href="javascript:void(0);") Вдохновляйся. Мечтай. Созидай.
            svg(width="100%" height="100%")
              title Логотип компании "AZORI"
              use(xlink:href="img/sprite.svg#logo")
          span.mobile-header__language-option En
          a.mobile-header__search(href="javascript:void(0);")
            svg(width="20" height="20")
              title Поиск по сайту
              use(xlink:href="img/sprite.svg#search")
            .search-box
              input(type="text" placeholder="")
              button(type="button") Найти
        nav.main-nav
          a.main-nav__logo(href="javascript:void(0);") Вдохновляйся. Мечтай. Созидай.
            svg(width="100%" height="100%")
              title Логотип компании "AZORI"
              use(xlink:href="img/sprite.svg#logo")
          ul.main-nav__list.main-nav__list--left
            li.main-nav__item
              a.main-nav__link(href="/about.html") О бренде
            li.main-nav__item
              a.main-nav__link(href="/catalog-collections.html") Коллекции
            li.main-nav__item.main-nav__item--no-mr
              a.main-nav__link(href="/where-to-buy.html") Где купить
          ul.main-nav__list.main-nav__list--right
            li.main-nav__item
              a.main-nav__link(href="/news.html") Новости
            li.main-nav__item
              a.main-nav__link(href="/contacts.html") Контакты
            li.main-nav__item.main-nav__item--no-mr
              a.main-nav__link(href="/partners.html") Партнерам
            li.main-nav__language-option
              a(href="javascript:void(0);") En
          ul.main-nav__top-icons-panel.top-icons-panel
            li.top-icons-panel__item.top-icons-panel__item--search
              a(href="javascript:void(0);")
                svg(width="20" height="20")
                  title Поиск по сайту
                  use(xlink:href="img/sprite.svg#search")
              .search-box
                input(type="text" placeholder="")
                button(type="button") Найти
            li.top-icons-panel__item
              a(href="javascript:void(0);")
                svg(width="20" height="20")
                  title Отправить сообщение
                  use(xlink:href="img/sprite.svg#mail")
            li.top-icons-panel__item
              a(href="javascript:void(0);")
                svg(width="20" height="20")
                  title Профиль компании "AZORI" ВКонтакте
                  use(xlink:href="img/sprite.svg#vk")
            li.top-icons-panel__item
              a(href="javascript:void(0);")
                svg(width="20" height="20")
                  title Профиль компании "AZORI" в Фейсбуке
                  use(xlink:href="img/sprite.svg#fb")
            li.top-icons-panel__item
              a(href="javascript:void(0);")
                svg(width="20" height="20")
                  title Профиль компании "AZORI" в Инстаграме
                  use(xlink:href="img/sprite.svg#instagram")
      .main-header__slick
        .main-header__slider
          picture
            source(media="(max-width: 480px)" srcset="img/top-slider-1-phone.jpg")
            source(media="(max-width: 768px)" srcset="img/top-slider-1-tablet.jpg")
            img(src="img/top-slider-1.jpg", alt="")
        .main-header__slider
          picture
            source(media="(max-width: 480px)" srcset="img/top-slider-1-phone.jpg")
            source(media="(max-width: 768px)" srcset="img/top-slider-1-tablet.jpg")
            img(src="img/top-slider-1.jpg", alt="")
        .main-header__slider
          picture
            source(media="(max-width: 480px)" srcset="img/top-slider-1-phone.jpg")
            source(media="(max-width: 768px)" srcset="img/top-slider-1-tablet.jpg")
            img(src="img/top-slider-1.jpg", alt="")
        .main-header__slider
          picture
            source(media="(max-width: 480px)" srcset="img/top-slider-1-phone.jpg")
            source(media="(max-width: 768px)" srcset="img/top-slider-1-tablet.jpg")
            img(src="img/top-slider-1.jpg", alt="")
      .main-header__promo.promo
        .container
          span.promo__top-text Коллекция
          b.promo__main-text eclipse ochra
          button.promo__btn.page-btn Посмотреть
    main
      section.front-p-collections
        h2.visually-hidden Коллекции керамической плитки Azori
        .container
          .front-p-collections__list
            a.front-p-collections__item.front-p-collections__item--all(href="javascript:void(0);")
              .front-p-collections__title-wrapper
                span.front-p-collections__title Все коллекции
            a.front-p-collections__item.front-p-collections__item--new(href="javascript:void(0);")
              .front-p-collections__title-wrapper
                span.front-p-collections__title Новые коллекции
            a.front-p-collections__item.front-p-collections__item--ceramic3d(href="javascript:void(0);")
              .front-p-collections__title-wrapper
                span.front-p-collections__title Ceramic 3d
      section.advantages
        .container
          h2.advantages__main-title.section-title Наши преимущества
          ul.advantages__list
            li.advantages__item.advantages__item--production
              h3.advantages__title Производство
              p.advantages__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
            li.advantages__item.advantages__item--values
              h3.advantages__title Ценности
              p.advantages__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
            li.advantages__item.advantages__item--history
              h3.advantages__title История
              p.advantages__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
      section.f-about
        .container
          .f-about__top-info
            img.f-about__logo.scrollflow.-slide-right.-opacity(src="img/about-logo.png")
            .f-about__desc
              p Мир красок, где каждый покупатель сможет найти коллекцию, которая сделает ванную комнату оригинальной и неповторимой. Комплектация коллекций разными форматами декоративных элементов позволяет выстраивать рисунок стен как вертикально, так и горизонтально, создавая в ванной комнате особый мир уюта и хорошего настроения.
              p Коллекции керамической плитки AZORI (АЗОРИ) созданы итальянскими и российскими дизайнерами. В них находят отражение самые последние тенденции “керамической моды”: имитация натуральных материалов — дерева , камня и текстиля; широкое присутствие цветочных мотивов и геометрии в декоративных элементах; богатство цветовой палитры.
          ul.f-about__stats
            li.f-about__stats-item
              b.f-about__stats-number 3,5
              span.f-about__stats-transcript млн. в год
              span.f-about__stats-extra-info объем производства
            li.f-about__stats-item
              b.f-about__stats-number 30
              span.f-about__stats-transcript тысяч
              span.f-about__stats-extra-info коллекций
            li.f-about__stats-item
              b.f-about__stats-number 108
              span.f-about__stats-transcript магазинов
              span.f-about__stats-extra-info по всей России
        .f-about__slick
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-1.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-2.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-3.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-4.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-4.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-4.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-4.jpg", alt="Azori")
          .f-about__slick-item
            img.f-about__slick-img(src="img/about-slick-img-4.jpg", alt="Azori")
        a.f-about__more.page-btn.page-btn--hollow(href="javascript:void(0);") Подробнее о компании
      section.news
        .container
          h2.news__main-title.section-title Новости и акции
          ul.news__list
            li.news__item
              a(href="javascript:void(0);")
                img.news__img(src="img/news-img-1.jpg", alt="Выставка Design & Decor St.Petersburg 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Выставка Design & Decor St.Petersburg 2017
                span.news__time 21.01.2018
                p.news__desc С 13 по 15 сентября в Санкт-Петер&shy;бурге прошла  5-я международная выставка Design&Decor St.Petersburg – центральное событие для людей, работающих в сфере дизайна и декорирования.С 13 по 15 сентября в Санкт-Петер&shy;бурге прошла  5-я международная выставка Design&Decor St.Petersburg – центральное событие для людей, работающих в сфере дизайна и декорирования.
            li.news__item
              a(href="javascript:void(0);")
                img.news__img(src="img/news-img-2.jpg", alt="Тренды в дизайне интерьера 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Тренды в дизайне интерьера 2017
                span.news__time 21.01.2018
                p.news__desc В рамках DesignWeek2017 в Санкт-Петербурге состоялась лекция Ирины Бириловой  «Тренды в дизайне интерьера 2017».
            li.news__item
              a(href="javascript:void(0);")
                picture
                  source(media="(max-width: 1024px)" srcset="img/news-img-3-tablet.jpg")
                  img.news__img(src="img/news-img-3.jpg", alt="Игра структуры и цвета - новые коллекции Batimat 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Игра структуры и цвета - новые коллекции Batimat 2017
                span.news__time 21.01.2018
                p.news__desc Презентуем коллекции, представленные на выставке Batimat 2017.
          button.page-btn.page-btn--hollow.news__bottom-btn Все новости
    include ../modules/footer
    button(type="button" class="back-to-top" title="Back to top") &uarr;
