extends ../layout/main
block title
  | Новости
block content
  body.inner-body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    include ../modules/page-header

    main.news-main
      header.inner-header.inner-header--btns-true
        .container
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Новости
          .inner-header__bottom-wrapper.inner-header__bottom-wrapper--news
            h1.inner-header__title Новости
            .inner-header__btn-wrapper
              a.page-btn.page-btn--hollow(href="javascript:void(0);") Архив новостей
      section.news-row.news-row--gray
        .container
          h2.news__main-title.inner-sect-title Последние новости
          ul.news__list
            li.news__item
              a(href="javascript:void(0);")
                img.news__img(src="img/news-img-1.jpg", alt="Выставка Design & Decor St.Petersburg 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Выставка Design & Decor St.Petersburg 2017
                span.news__time 21.01.2018
                p.news__desc С 13 по 15 сентября в Санкт-Петер&shy;бурге прошла  5-я международная выставка Design&Decor St.Petersburg – центральное событие для людей, работающих в сфере дизайна и декорирования.
            li.news__item
              a(href="javascript:void(0);")
                img.news__img(src="img/news-img-2.jpg", alt="Тренды в дизайне интерьера 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Тренды в дизайне интерьера 2017
                span.news__time 21.01.2018
                p.news__desc В рамках DesignWeek2017 в Санкт-Петербурге состоялась лекция Ирины Бириловой  «Тренды в дизайне интерьера 2017».
            li.news__item
              a(href="javascript:void(0);")
                picture
                  source(media="(max-width: 1024px)" srcset="img/news-img-3-tablet.jpg")
                  img.news__img(src="img/news-img-3.jpg", alt="Игра структуры и цвета - новые коллекции Batimat 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Игра структуры и цвета - новые коллекции Batimat 2017
                span.news__time 21.01.2018
                p.news__desc Презентуем коллекции, представленные на выставке Batimat 2017.
          button.page-btn.page-btn--hollow.news__bottom-btn Узнать больше
      section.news-row
        .container
          h2.news__main-title.inner-sect-title Интервью
          ul.news__list
            li.news__item
              a(href="javascript:void(0);")
                img.news__img(src="img/news-img-1.jpg", alt="Выставка Design & Decor St.Petersburg 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Выставка Design & Decor St.Petersburg 2017
                span.news__time 21.01.2018
                p.news__desc С 13 по 15 сентября в Санкт-Петер&shy;бурге прошла  5-я международная выставка Design&Decor St.Petersburg – центральное событие для людей, работающих в сфере дизайна и декорирования.
            li.news__item
              a(href="javascript:void(0);")
                img.news__img(src="img/news-img-2.jpg", alt="Тренды в дизайне интерьера 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Тренды в дизайне интерьера 2017
                span.news__time 21.01.2018
                p.news__desc В рамках DesignWeek2017 в Санкт-Петербурге состоялась лекция Ирины Бириловой  «Тренды в дизайне интерьера 2017». В рамках DesignWeek2017 в Санкт-Петербурге состоялась лекция Ирины Бириловой  «Тренды в дизайне интерьера 2017».
            li.news__item
              a(href="javascript:void(0);")
                picture
                  source(media="(max-width: 1024px)" srcset="img/news-img-3-tablet.jpg")
                  img.news__img(src="img/news-img-3.jpg", alt="Игра структуры и цвета - новые коллекции Batimat 2017")
              .news__info
                h3.news__title
                  a(href="javascript:void(0);") Игра структуры и цвета - новые коллекции Batimat 2017
                span.news__time 21.01.2018
                p.news__desc Презентуем коллекции, представленные на выставке Batimat 2017.
        button.page-btn.page-btn--hollow.news__bottom-btn Узнать больше
      section.news-row.news-row--gray
          .container
            h2.news__main-title.inner-sect-title Видео
            ul.news__list
              li.news__item
                a(data-fancybox href="https://www.youtube.com/watch?v=a-GQDCtt1Vk")
                  img.news__img(src="img/news-img-1.jpg", alt="Выставка Design & Decor St.Petersburg 2017")
                  svg(height="62" width="62" aria-hidden="true")
                    use(xlink:href="img/sprite.svg#play-button")
                .news__info
                  h3.news__title
                    a(href="javascript:void(0);") Выставка Design & Decor St.Petersburg 2017
                  span.news__time 21.01.2018
                  p.news__desc С 13 по 15 сентября в Санкт-Петер&shy;бурге прошла  5-я международная выставка Design&Decor St.Petersburg – центральное событие для людей, работающих в сфере дизайна и декорирования.
              li.news__item
                a(data-fancybox href="https://www.youtube.com/watch?v=lsH2M6OcS_g")
                  img.news__img(src="img/news-img-2.jpg", alt="Тренды в дизайне интерьера 2017")
                  svg(height="62" width="62" aria-hidden="true")
                    use(xlink:href="img/sprite.svg#play-button")
                .news__info
                  h3.news__title
                    a(href="javascript:void(0);") Тренды в дизайне интерьера 2017
                  span.news__time 21.01.2018
                  p.news__desc В рамках DesignWeek2017 в Санкт-Петербурге состоялась лекция Ирины Бириловой  «Тренды в дизайне интерьера 2017».
              li.news__item
                a(data-fancybox href="https://www.youtube.com/watch?v=fwfjsDsMuz8")
                  picture
                    source(media="(max-width: 1024px)" srcset="img/news-img-3-tablet.jpg")
                    img.news__img(src="img/news-img-3.jpg", alt="Игра структуры и цвета - новые коллекции Batimat 2017")
                  svg(height="62" width="62" aria-hidden="true")
                    use(xlink:href="img/sprite.svg#play-button")
                .news__info
                  h3.news__title
                    a(href="javascript:void(0);") Игра структуры и цвета - новые коллекции Batimat 2017
                  span.news__time 21.01.2018
                  p.news__desc Презентуем коллекции, представленные на выставке Batimat 2017.
            button.page-btn.page-btn--hollow.news__bottom-btn Узнать больше




    include ../modules/footer
    button(type="button" class="back-to-top" title="Back to top") &uarr;



