extends ../layout/main
block title
  | Коллекция Eclipse
block content
  body.inner-body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});

    include ../modules/page-header

    main.single-card-main
      header.inner-header.inner-header--collection
        .container
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link(href="javascript:void(0);") Коллекции
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Eclipse
          .inner-header__bottom-wrapper.inner-header__bottom-wrapper--collection
            h1.inner-header__title.inner-header__title Eclipse
            span.inner-header__tag-new.tag-new Новинка
      section.collection
        .container.collection__slipping-bg
          .collection__gallery.top-gallery
            a.top-gallery__slide(href="img/collection-gallery-img-1.jpg" data-fancybox="images")
              img(src="img/collection-gallery-img-1.jpg")
            a.top-gallery__slide(href="img/collection-gallery-img-2.jpg" data-fancybox="images")
              img(src="img/collection-gallery-img-2.jpg")
            a.top-gallery__slide(href="img/collection-gallery-img-3.jpg" data-fancybox="images")
              img(src="img/collection-gallery-img-3.jpg")
          h3.collection__colors-title Цвета коллекции
          ul.collection__colors-list
            li.collection__colors-item
              a.collection__colors-link.collection__colors-link--current(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--gray
                span Grey
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--biege
                span Biege
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--brown
                span Brown
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--brown
                span Brown
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--brown
                span Brown
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--brown
                span Brown
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--brown
                span Brown
            li.collection__colors-item
              a.collection__colors-link(href="javascript:void(0);")
                .collection__colors-square.collection__colors-square--green-apple
                span Green Apple
        .collection__info.container
          .collection__desc
            p #[span.collection__info-big-text Еclipse] (формат 201\505) - #[br] это цветовая палитра полупрозрачных тонов на глянцевой глазури, сосредоточенных на оттенках бирюзы, свекольного сока и светлого коралла на фоне которых, акцентами становятся плотный солнечный и графито-коричневый.
            p Воздушность и прозрачность, лёгкость в новой своей интерпретации, удивит вас орнаментальными решениями декоративных элементов - Aurora, Selena, и заставит творить, следуя правилам цифрового искусства.
          .collection__params
            h3.collection__params-main-title Параметры:
            ul.collection__params-types
              li.collection__params-type.collection__params-type--wall
                h4.collection__params-type-name Настенная
                ul.collection__params-list
                  li.collection__params-item.collection__params-item--size
                    span.collection__params-key Размер:
                    span.collection__params-value 20 х 40 см
                  li.collection__params-item.collection__params-item--surface
                    span.collection__params-key Поверхность:
                    span.collection__params-value Матовая
                  li.collection__params-item.collection__params-item--thickness
                    span.collection__params-key Толщина
                    span.collection__params-value 0,7 см
              li.collection__params-type.collection__params-type--floor
                h4.collection__params-type-name Напольная
                ul.collection__params-list
                  li.collection__params-item.collection__params-item--size
                    span.collection__params-key Размер:
                    span.collection__params-value 20 х 40 см
                  li.collection__params-item.collection__params-item--surface
                    span.collection__params-key Поверхность:
                    span.collection__params-value Глянцевая
                  li.collection__params-item.collection__params-item--thickness
                    span.collection__params-key Толщина
                    span.collection__params-value 0,7 см
          a.page-btn.collection__where-to-buy(href="javascript:void(0);") Где купить
      section.coll-elems.single-card-main__coll-elems
        .container
          h2.coll-elems__sect-title.inner-sect-title Элементы коллекции
          ul.coll-elems__list
            li.coll-elems__item
              .coll-elems__img-wrapper
                img(src="img/coll-elems-1.png", alt="Панно AGRA GREY DALILA")
              h3.coll-elems__title Панно AGRA GREY DALILA
              .coll-elems__info
                ul.coll-elems__charcs.charcs
                  li.coll-elems__charcs-item.charcs__item.charcs__item--size 502 х 709 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--thickness 70 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--surface Матовая
                .coll-elems__info-right
                  .coll-elems__color-square.color-square
                  p.coll-elems__price #[span 705] руб./ м2
            li.coll-elems__item
              .coll-elems__img-wrapper
                img(src="img/coll-elems-2.png", alt="Бордюр AGRA GREY DALILA")
              h3.coll-elems__title Бордюр AGRA GREY DALILA
              .coll-elems__info
                ul.coll-elems__charcs.charcs
                  li.coll-elems__charcs-item.charcs__item.charcs__item--size 251 х 80 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--thickness 70 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--surface Матовая
                .coll-elems__info-right
                  .coll-elems__color-square.color-square
                  p.coll-elems__price #[span 705] руб./ м2
            li.coll-elems__item
              .coll-elems__img-wrapper
                img(src="img/coll-elems-3.png", alt="Плитка облицовочная AGRA LIGHT")
              h3.coll-elems__title Плитка облицовочная AGRA LIGHT
              .coll-elems__info
                ul.coll-elems__charcs.charcs
                  li.coll-elems__charcs-item.charcs__item.charcs__item--size 251 х 80 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--thickness 70 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--surface Матовая
                .coll-elems__info-right
                  .coll-elems__color-square.color-square
                  p.coll-elems__price #[span 705] руб./ м2
            li.coll-elems__item
              .coll-elems__img-wrapper
                img(src="img/coll-elems-4.png", alt="Плитка облицовочная  AGRA GREY ARABESCO")
              h3.coll-elems__title Плитка облицовочная  AGRA GREY ARABESCO
              .coll-elems__info
                ul.coll-elems__charcs.charcs
                  li.coll-elems__charcs-item.charcs__item.charcs__item--size 251 х 80 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--thickness 70 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--surface Матовая
                .coll-elems__info-right
                  .coll-elems__color-square.color-square
                  p.coll-elems__price #[span 705] руб./ м2
            li.coll-elems__item
              .coll-elems__img-wrapper
                img(src="img/coll-elems-5.png", alt="Плитка облицовочная AGRA DARK")
              h3.coll-elems__title Плитка облицовочная AGRA DARK
              .coll-elems__info
                ul.coll-elems__charcs.charcs
                  li.coll-elems__charcs-item.charcs__item.charcs__item--size 251 х 80 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--thickness 70 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--surface Матовая
                .coll-elems__info-right
                  .coll-elems__color-square.color-square
                  p.coll-elems__price #[span 705] руб./ м2
            li.coll-elems__item
              .coll-elems__img-wrapper
                img(src="img/coll-elems-6.png", alt="Плитка напольная AGRA GREY")
              h3.coll-elems__title Плитка напольная AGRA GREY
              .coll-elems__info
                ul.coll-elems__charcs.charcs
                  li.coll-elems__charcs-item.charcs__item.charcs__item--size 251 х 80 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--thickness 70 мм
                  li.coll-elems__charcs-item.charcs__item.charcs__item--surface Матовая
                .coll-elems__info-right
                  .coll-elems__color-square.color-square
                  p.coll-elems__price #[span 705] руб./ м2
      section.coll-examples.single-card-main__coll-examples
        h2.coll-examples__sect-title.inner-sect-title Примеры готовых решений
        .coll-examples__slider.projects-preview
          a.projects-preview__slide(href="javascript:void(0);")
            img(src="img/coll-examples-img-1.jpg", alt="")
            .projects-preview__tooltip Плитка в большой ванной
          a.projects-preview__slide(href="javascript:void(0);")
            img(src="img/coll-examples-img-2.jpg", alt="")
            .projects-preview__tooltip Плитка в большой ванной
          a.projects-preview__slide(href="javascript:void(0);")
            img(src="img/coll-examples-img-3.jpg", alt="")
            .projects-preview__tooltip Плитка в большой ванной
          a.projects-preview__slide(href="javascript:void(0);")
            img(src="img/coll-examples-img-4.jpg", alt="")
            .projects-preview__tooltip Плитка в большой ванной
          a.projects-preview__slide(href="javascript:void(0);")
            img(src="img/coll-examples-img-2.jpg", alt="")
            .projects-preview__tooltip Плитка в большой ванной
        .full-p-two-cols.coll-examples__bottom
          .full-p-two-cols__item.full-p-two-cols__item--opts
            a(href="javascript:void(0);")
              span.full-p-two-cols__main-text Варианты выкладки плитки
              span.full-p-two-cols__go-to-page Перейти
          .full-p-two-cols__item.full-p-two-cols__item--create-template
            a(href="javascript:void(0);")
                span.full-p-two-cols__main-text Создать макет
                p.full-p-two-cols__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.full-p-two-cols__go-to-page Перейти
      article.preview.single-card-main__preview
        .container
          h2.inner-sect-title.preview__title Рекомендуем посмотреть:
          .preview__slider
            .preview__item.card#card-7
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
            .preview__item.card#card-8
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
            .preview__item.card#card-9
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
            .preview__item.card#card-10
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
      article.viewed
        .container
          h2.inner-sect-title.viewed__sect-title Вы уже смотрели:
          .viewed__wrapper
            .viewed__item.card#card-11
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
            .viewed__item.card#card-12
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
            .viewed__item.card#card-13
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!
            .viewed__item.card#card-14
              .card__images
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-1.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-2.png", alt="Плиточка")
                a.card__image-link(href="javascript:void(0);")
                  img(src="img/first-card-img-3.png", alt="Плиточка")
              .card__colors
                .card__color.card__color--blue
                .card__color.card__color--grey
                .card__color.card__color--beige
              .card__info
                .card__info-left
                  h3.card__title
                    a(href="javascript:void(0);") Eclipse
                  p.card__price-block #[span.card__price-from от] #[span.card__price 1 500] #[span.card__price-extra руб./ м#[sup 2]]
                .card__info-right
                  span.card__new.tag-new Новинка!


    include ../modules/footer
    button(type="button" class="back-to-top" title="Back to top") &uarr;
    .modal
      .coll-popup
        button.coll-popup__close-btn
        .coll-popup__img-wrapper
          img.coll-popup__img(src="img/popup-img-desktop.png", alt="Img")
        .coll-popup__info
          h3.coll-popup__item-title Плитка настенная Eclipse Biege Arabesco
          ul.coll-popup__charcs.charcs
            li.coll-popup__charcs-item.charcs__item.charcs__item--size 251 х 709 мм
            li.coll-popup__charcs-item.charcs__item.charcs__item--thickness 70 мм
            li.coll-popup__charcs-item.charcs__item.charcs__item--surface Матовая
          .coll-popup__color-square.color-square
          a.coll-popup__link(href="javascript:void(0);") Коллекция #[strong &laquo;Eclipse&raquo;]
          .coll-popup__price-wrapper
            .coll-popup__price-text-wrapper
              span.coll-popup__price-name Цена в магазине
              p.coll-popup__price от #[span.coll-popup__price-number 705] руб/м#[sup 2]
            a.coll-popup__where-buy.page-btn.page-btn--hollow(href="javascript:void(0);") Где купить
          p.coll-popup__note Оттенок и рисунок поставляемой керамической плитки в связи с технологическими особенностями её производства может отличаться от представленного




