extends ../layout/main
block title
  | Коллекция Eclipse
block content
  header.page-header
    nav.page-nav
      .menu-toggle
        span
        span
        span
        span
      a.page-nav__logo(href="/") Вдохновляйся. Мечтай. Созидай.
      ul.page-nav__list
        li.page-nav__item
          a.page-nav__link(href="javasctipt:void(0);") О бренде
        li.page-nav__item
          a.page-nav__link(href="javasctipt:void(0);") Коллекции
        li.page-nav__item
          a.page-nav__link(href="javasctipt:void(0);") Где купить
        li.page-nav__item
          a.page-nav__link(href="javasctipt:void(0);") Новости
        li.page-nav__item
          a.page-nav__link(href="javasctipt:void(0);") Контакты
        li.page-nav__item
          a.page-nav__link(href="javasctipt:void(0);") Партнерам
        li.tablet-show
          ul.top-menu-social
            li.top-menu-social__item
              a(href="javascript:void(0);")
                img(src="img/mail-top-icons.png", alt="")
            li.top-menu-social__item
              a(href="javascript:void(0);")
                img(src="img/vk-top-icons.png", alt="")
            li.top-menu-social__item
              a(href="javascript:void(0);")
                img(src="img/fb-top-icons.png", alt="")
            li.top-menu-social__item
              a(href="javascript:void(0);")
                img(src="img/insta-top-icons.png", alt="")
      a.page-nav__lang-opt(href="javascript:void(0);") EN
      a.page-nav__search(href="javascript:void(0);")
        img(src="img/search-top-icons.png" alt="Поиск по сайту")
      ul.page-nav__top-icons-panel.top-icons-panel
        li.top-icons-panel__item.top-icons-panel__item--mail
          a(href="javascript:voil(0);", aria-label="")
            img(src="img/mail-top-icons.png", alt="")
        li.top-icons-panel__item.top-icons-panel__item--vk
          a(href="javascript:voil(0);", aria-label="")
            img(src="img/vk-top-icons.png", alt="")
        li.top-icons-panel__item.top-icons-panel__item--fb
          a(href="javascript:voil(0);", aria-label="")
            img(src="img/fb-top-icons.png", alt="")
        li.top-icons-panel__item.top-icons-panel__item--insta
          a(href="javascript:voil(0);", aria-label="")
            img(src="img/insta-top-icons.png", alt="")

  main.single-card-main
    header.inner-header.inner-header--collection
      .container
        ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href="javascript:void(0);") Коллекции
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--current Eclipse
        .inner-header__bottom-wrapper
          h1.inner-header__title Eclipse
          span.inner-header__tag-new.tag-new Новинка
    section.collection
      .container
        .collection__gallery
          img(src="../img/collection-gallery-img-1.jpg")
          img(src="../img/collection-gallery-img-2.jpg")
          img(src="../img/collection-gallery-img-3.jpg")
        h3.collection__colors-title Цвета коллекции
        ul.collection__colors-list
          li.collection__colors-item
            a.collection__colors-link.collection__colors-link--current(href="javascript:void(0);")
              .collection__colors-square.collection__colors-square--gray
              span Grey
          li.collection__colors-item
            a.collection__colors-link(href="javascript:void(0);")
              .collection__colors-square.collection__colors-square--biege
              span Biege
          li.collection__colors-item
            a.collection__colors-link(href="javascript:void(0);")
              .collection__colors-square.collection__colors-square--brown
              span Brown
          li.collection__colors-item
            a.collection__colors-link(href="javascript:void(0);")
              .collection__colors-square.collection__colors-square--green-apple
              span Green Apple
      .collection__info.container
        .collection__desc
          p #[span.collection__info-big-text Еclipse] (формат 201\505) - это цветовая палитра полупрозрачных тонов на глянцевой глазури, сосредоточенных на оттенках бирюзы, свекольного сока и светлого коралла на фоне которых, акцентами становятся плотный солнечный и графито-коричневый.
          p Воздушность и прозрачность, лёгкость в новой своей интерпретации, удивит вас орнаментальными решениями декоративных элементов - Aurora, Selena, и заставит творить, следуя правилам цифрового искусства.
        .collection__params
          h3.collection__params-main-title Параметры
          ul.collection__params-types
            li.collection__params-type.collection__params-type--wall
              h4.collection__params-type-name Настенная
              ul.collection__params-list
                li.collection__params-item.collection__params-item--size
                  span.collection__params-key Размер:
                  span.collection__params-value 20 х 40 см
                li.collection__params-item.collection__params-item--surface
                  span.collection__params-key Поверхность:
                  span.collection__params-value Матовая
                li.collection__params-item.collection__params-item--thickness
                  span.collection__params-key Толщина
                  span.collection__params-value 0,7 см
            li.collection__params-type.collection__params-type--floor
              h4.collection__params-type-name Напольная
              ul.collection__params-list
                li.collection__params-item.collection__params-item--size
                  span.collection__params-key Размер:
                  span.collection__params-value 20 х 40 см
                li.collection__params-item.collection__params-item--surface
                  span.collection__params-key Поверхность:
                  span.collection__params-value Глянцевая
                li.collection__params-item.collection__params-item--thickness
                  span.collection__params-key Толщина
                  span.collection__params-value 0,7 см
        a.page-btn.collection__where-to-buy Где купить
    section.coll-elems
      .container
        h2.coll-elems__sect-title.coll-sect-title Элементы коллекции
        ul.coll-elems__list
          li.coll-elems__item
            .coll-elems__img-wrapper
              img(src="img/coll-elems-1.png", alt="Панно AGRA GREY DALILA")
            h3.coll-elems__title Панно AGRA GREY DALILA
            .coll-elems__info
              ul.coll-elems__details
                li.coll-elems__details-item 502 х 709 мм
                li.coll-elems__details-item 70 мм
                li.coll-elems__details-item Матовая
              .coll-elems__info-right
                .coll-elems__color-square
                p.coll-elems__price #[span 705] руб./ м2
          li.coll-elems__item
            .coll-elems__img-wrapper
              img(src="img/coll-elems-2.png", alt="Бордюр AGRA GREY DALILA")
            h3.coll-elems__title Бордюр AGRA GREY DALILA
            .coll-elems__info
              ul.coll-elems__details
                li.coll-elems__details-item 251 х 80 мм
                li.coll-elems__details-item 70 мм
                li.coll-elems__details-item Матовая
              .coll-elems__info-right
                .coll-elems__color-square
                p.coll-elems__price #[span 705] руб./ м2
          li.coll-elems__item
            .coll-elems__img-wrapper
              img(src="img/coll-elems-3.png", alt="Плитка облицовачная AGRA LIGHT")
            h3.coll-elems__title Плитка облицовачная AGRA LIGHT
            .coll-elems__info
              ul.coll-elems__details
                li.coll-elems__details-item 251 х 709 мм
                li.coll-elems__details-item 70 мм
                li.coll-elems__details-item Матовая
              .coll-elems__info-right
                .coll-elems__color-square
                p.coll-elems__price #[span 705] руб./ м2
          li.coll-elems__item
            .coll-elems__img-wrapper
              img(src="img/coll-elems-4.png", alt="Плитка облицовачная  AGRA GREY ARABESCO")
            h3.coll-elems__title Плитка облицовачная  AGRA GREY ARABESCO
            .coll-elems__info
              ul.coll-elems__details 251 х 709 мм
                li.coll-elems__details-item
                li.coll-elems__details-item 70 мм
                li.coll-elems__details-item Матовая
              .coll-elems__info-right
                .coll-elems__color-square
                p.coll-elems__price #[span 705] руб./ м2
          li.coll-elems__item
            .coll-elems__img-wrapper
              img(src="img/coll-elems-5.png", alt="Плитка облицовачная AGRA DARK")
            h3.coll-elems__title Плитка облицовачная AGRA DARK
            .coll-elems__info
              ul.coll-elems__details
                li.coll-elems__details-item 251 х 709 мм
                li.coll-elems__details-item 70 мм
                li.coll-elems__details-item Матовая
              .coll-elems__info-right
                .coll-elems__color-square
                p.coll-elems__price #[span 705] руб./ м2
          li.coll-elems__item
            .coll-elems__img-wrapper
              img(src="img/coll-elems-6.png", alt="Плитка напольная AGRA GREY")
            h3.coll-elems__title Плитка напольная AGRA GREY
            .coll-elems__info
              ul.coll-elems__details
                li.coll-elems__details-item 251 х 80 мм
                li.coll-elems__details-item 70 мм
                li.coll-elems__details-item Матовая
              .coll-elems__info-right
                .coll-elems__color-square
                p.coll-elems__price #[span 705] руб./ м2
    section.coll-examples
      h2.coll-examples__sect-title.coll-sect-title Примеры готовых решений
      .coll-examples__slider
        a.coll-examples__slide(href="javascript:void(0);")
          img(src="img/coll-examples-img-1.jpg", alt="")
          .coll-examples__tooltip Плитка в большой ванной
        a.coll-examples__slide(href="javascript:void(0);")
          img(src="img/coll-examples-img-2.jpg", alt="")
          .coll-examples__tooltip Плитка в большой ванной
        a.coll-examples__slide(href="javascript:void(0);")
          img(src="img/coll-examples-img-3.jpg", alt="")
          .coll-examples__tooltip Плитка в большой ванной
        a.coll-examples__slide(href="javascript:void(0);")
          img(src="img/coll-examples-img-4.jpg", alt="")
          .coll-examples__tooltip Плитка в большой ванной
        a.coll-examples__slide(href="javascript:void(0);")
          img(src="img/coll-examples-img-2.jpg", alt="")
          .coll-examples__tooltip Плитка в большой ванной
      .coll-examples__bottom
        .coll-examples__bottom-item.coll-examples__bottom-item--opts
          a(href="javascript:void(0);")
            span.coll-examples__bottom-main-text Варианты выкладки плитки
        .coll-examples__bottom-item.coll-examples__bottom-item--create-template
          a(href="javascript:void(0);")
              span.coll-examples__bottom-main-text Создать макет
              p.coll-examples__bottom-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit



  include ../modules/footer



