extends ../layout/main
block title
  | Карта сайта
block content
  body.inner-body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    include ../modules/page-header

    main.sitemap-main
      header.inner-header.sitemap-main__inner-header
        .container
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Карта сайта
          .inner-header__bottom-wrapper
            h1.inner-header__title Карта сайта
      .sitemap.container
        a.sitemap__home-link(href="/") Главная
        ul.sitemap__1level-list
          li.sitemap__1level-list-item
            a.sitemap__1level-list-link(href="javascript:void(0);") О бренде
          li.sitemap__1level-list-item
            a.sitemap__1level-list-link(href="javascript:void(0);") Коллекции
            ul.sitemap__2level-list
              li.sitemap__2level-list-item
                a.sitemap__2level-list-link(href="javasctipt:void(0);") Название коллекции
              li.sitemap__2level-list-item
                a.sitemap__2level-list-link(href="javasctipt:void(0);") Название коллекции
              li.sitemap__2level-list-item
                a.sitemap__2level-list-link(href="javasctipt:void(0);") Название коллекции
          li.sitemap__1level-list-item
            a.sitemap__1level-list-link(href="javascript:void(0);") Где купить
          li.sitemap__1level-list-item
            a.sitemap__1level-list-link(href="javascript:void(0);") Новости
          li.sitemap__1level-list-item
            a.sitemap__1level-list-link(href="javascript:void(0);") Контакты
          li.sitemap__1level-list-item
            a.sitemap__1level-list-link(href="javascript:void(0);") Партнерам


     




    include ../modules/footer
    button(type="button" class="back-to-top" title="Наверх") &uarr;



