extends ../layout/main
block title
  | AZORI English
block content
  body.inner-body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="js/yandex-map.js")
    include ../modules/page-header
    main.eng-page
      header.inner-header
        .container
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Main Page
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Page title
          .inner-header__bottom-wrapper
            h1.inner-header__title Page title
      section.eng-page__back-bg-block.back-bg-block
        .container(style="background-image: url('img/top-img-eng.jpg')")
          .back-bg-block__text-wrapper
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      .container.eng-page__text-container
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. #[br] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      .img-slider.container
        img(src="img/img-slider-1.jpg", alt="Картинка 1")
        img(src="img/img-slider-2.jpg", alt="Картинка 2")
        img(src="img/img-slider-3.jpg", alt="Картинка 3")
        img(src="img/img-slider-2.jpg", alt="Картинка 4")
      .eng-contacts
        .container
          h2.eng-contacts__title Contacts
          .eng-contacts__row
            .eng-contacts__wrapper
              h3.contacts-subtitle.contacts-subtitle--eng Main Office
              ul.contacts-list.eng-contacts__list
                li.contacts-list__item
                  span.contacts-list__key Address:
                  span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                li.contacts-list__item
                  span.contacts-list__key Phone:
                  span.contacts-list__value +7 (812)
                    span.contacts-list__phone 324-60-59
                li.contacts-list__item
                  span.contacts-list__key E-mail:
                  span.contacts__value office@keramir.com

              h3.contacts-subtitle.contacts-subtitle--eng Development
              ul.contacts-list.eng-contacts__list
                li.contacts-list__item
                  span.contacts-list__key Phone:
                  span.contacts-list__value +7 (812)
                    span.contacts-list__phone 324-60-59
                li.contacts-list__item
                  span.contacts-list__key E-mail:
                  span.contacts-list__value office@keramir.com
            .eng-contacts__map#map5

    include ../modules/footer
    button(type="button" class="back-to-top" title="Back to top") &uarr;




