extends ../layout/main
block title
  | AZORI English
block content
  body.inner-body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="js/yandex-map.js")
    header.page-header
      nav.page-nav
        .menu-toggle
          span
          span
          span
          span
        a.page-nav__logo(href="/") Inspire. Dream. Create
          svg(width="100%" height="100%")
            title Логотип компании "AZORI"
            use(xlink:href="img/sprite.svg#logo")
        ul.page-nav__list
          li.page-nav__item
            a.page-nav__link(href="/about.html") About
          li.page-nav__item
            a.page-nav__link(href="/catalog-collections.html") Collections
          li.page-nav__item
            a.page-nav__link(href="/where-to-buy.html") Where to buy
          li.page-nav__item
            a.page-nav__link(href="/news.html") News
          li.page-nav__item
            a.page-nav__link(href="/contacts.html") Contact
          li.page-nav__item
            a.page-nav__link(href="/partners.html") Partners
          li.tablet-show
            ul.top-menu-social
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  svg(width="25" height="25")
                    title Отправить сообщение
                    use(xlink:href="img/sprite.svg#mail")
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  svg(width="25" height="25")
                    title Профиль компании "AZORI" Вконтакте
                    use(xlink:href="img/sprite.svg#vk")
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  svg(width="25" height="25")
                    title Профиль компании "AZORI" в Фейсбуке
                    use(xlink:href="img/sprite.svg#fb")
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  svg(width="25" height="25")
                    title Профиль компании "AZORI" в Инстаграме
                    use(xlink:href="img/sprite.svg#instagram")
        a.page-nav__lang-opt(href="javascript:void(0);") RU
        a.page-nav__search(href="javascript:void(0);")
          svg(width="20" height="20")
            title Поиск по сайту
            use(xlink:href="img/sprite.svg#search")
        .search-box
          input(type="text" placeholder="")
          button(type="button") Найти
        ul.page-nav__top-icons-panel.top-icons-panel
          li.top-icons-panel__item
            a(href="javascript:void(0);")
              svg(width="18" height="14")
                title Отправить сообщение
                use(xlink:href="img/sprite.svg#mail")
          li.top-icons-panel__item
            a(href="javascript:void(0);")
              svg(width="18" height="12")
                title Профиль компании "AZORI" Вконтакте
                use(xlink:href="img/sprite.svg#vk")
          li.top-icons-panel__item
            a(href="javascript:void(0);")
              svg(width="9" height="18")
                title Профиль компании "AZORI" в Фейсбуке
                use(xlink:href="img/sprite.svg#fb")
          li.top-icons-panel__item
            a(href="javascript:void(0);")
              svg(width="20" height="20")
                title Профиль компании "AZORI" в Инстаграме
                use(xlink:href="img/sprite.svg#instagram")

    main.eng-page
      header.inner-header
        .container
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="javascript:void(0);") Main Page
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Page title
          .inner-header__bottom-wrapper
            h1.inner-header__title Page title
      section.eng-page__back-bg-block.back-bg-block
        .container(style="background-image: url('img/top-img-eng.jpg')")
          .back-bg-block__text-wrapper
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      .container.eng-page__text-container
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. #[br] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      .img-slider.container
        a(href="img/img-slider-1.jpg" data-fancybox="images")
          img(src="img/img-slider-1.jpg", alt="Картинка 1")
        a(href="img/img-slider-2.jpg" data-fancybox="images")
          img(src="img/img-slider-2.jpg", alt="Картинка 2")
        a(href="img/img-slider-3.jpg" data-fancybox="images")
          img(src="img/img-slider-3.jpg", alt="Картинка 3")
        a(href="img/img-slider-2.jpg" data-fancybox="images")
          img(src="img/img-slider-2.jpg", alt="Картинка 4")
      .eng-contacts
        .container
          h2.eng-contacts__title Contacts
          .eng-contacts__row
            .eng-contacts__wrapper
              h3.contacts-subtitle.contacts-subtitle--eng Main Office
              ul.contacts-list.eng-contacts__list
                li.contacts-list__item
                  span.contacts-list__key Address:
                  span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                li.contacts-list__item
                  span.contacts-list__key Phone:
                  a.contacts-list__value(href="tel:+78123246059") +7 (812) <span class="contacts-list__phone">324-60-59</span>
                li.contacts-list__item
                  span.contacts-list__key E-mail:
                  a.contacts-list__value(href="mailto:office@keramir.com") office@keramir.com

              h3.contacts-subtitle.contacts-subtitle--eng Development
              ul.contacts-list.eng-contacts__list
                li.contacts-list__item
                  span.contacts-list__key Phone:
                  a.contacts-list__value(href="tel:+78123246059") +7 (812) <span class="contacts-list__phone">324-60-59</span>
                li.contacts-list__item
                  span.contacts-list__key E-mail:
                  a.contacts-list__value(href="mailto:office@keramir.com") office@keramir.com
            .eng-contacts__map#map5

    include ../modules/footer
    button(type="button" class="back-to-top" title="Back to top") &uarr;




