extends ../layout/main
block title
  | Где купить Тверь
block content
  body.inner-body
    script(src="https://static.yandex.net/browser-updater/v1/script.js" charset="utf-8")
    script.
      var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"10","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="js/yandex-map.js")
    include ../modules/page-header

    main.wtb-city
      header.inner-header.inner-header--wtb
        .container
          ul.breadcrumbs.wtb__breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--home(href="/") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Где купить
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Тверь
          .inner-header__bottom-wrapper.inner-header__bottom-wrapper
            h1.inner-header__title.inner-header__title--where-buy Тверь
      section.city-search.wtb-city__city-search
        .container
          form.city-search__form(method="get" action="#" name="city-search-form")
            .city-search__input-wrapper
              input.city-search__input(type="search" placeholder="Укажите город" value="Тверь")
              button.city-search__btn.page-btn Найти
            .city-search__chbox-wrapper
              input.visually-hidden.city-search__chbox#city-search-wholesale(type="checkbox", name="sale-type")
              label.city-search__label(for="city-search-wholesale") Оптовая продажа
            .city-search__chbox-wrapper
              input.visually-hidden.city-search__chbox#city-search-retail(type="checkbox" name="sale-type")
              label.city-search__label(for="city-search-retail") Розничная продажа
        .city-search__map#map4

      section.branches.wtb__branches
        .container
          h2.branches__title Оптовая продажа
          ul.branches__list
            li.branches__item
              .branches__inner
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list
                  li.contacts-list__item
                    span.contacts-list__key Адрес компании:
                    span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                button.branches__on-map На карте
            li.branches__item
              .branches__inner
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list
                  li.contacts-list__item
                    span.contacts-list__key Адрес компании:
                    span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                  button.branches__on-map На карте
            li.branches__item
              .branches__inner
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list
                  li.contacts-list__item
                    span.contacts-list__key Адрес компании:
                    span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                button.branches__on-map На карте

      section.branches.wtb__branches
        .container
          h2.branches__title Розничная продажа
          ul.branches__list
            li.branches__item
              .branches__inner
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list
                  li.contacts-list__item
                    span.contacts-list__key Адрес компании:
                    span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                button.branches__on-map На карте
            li.branches__item
              .branches__inner
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list
                  li.contacts-list__item
                    span.contacts-list__key Адрес компании:
                    span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                button.branches__on-map На карте
            li.branches__item
              .branches__inner
                span.branches__org ООО "ЛКК Северо-Запад"
                ul.contacts-list
                  li.contacts-list__item
                    span.contacts-list__key Адрес компании:
                    span.contacts-list__value г. Санкт-Петербург, Волхонское шоссе, д. 4.
                  li.contacts-list__item
                    span.contacts-list__key Электронный адрес:
                    span.contacts-list__value office@keramir.com
                  li.contacts-list__item
                    span.contacts-list__key Телефон:
                    span.contacts-list__value +7 (812)
                      span.contacts-list__phone 324-60-59
                button.branches__on-map На карте




    include ../modules/footer
    button(type="button" class="back-to-top" title="Наверх") &uarr;



