.about {
  margin-bottom: 125px;
  box-shadow: 0 -15px 20px rgba(17, 17, 17, 0.1);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #c3c5c8 15%, #85898f 100%);
  background-size: 100% 600px;
  background-repeat: no-repeat;
  text-align: center;

  &__top-info {
    @include flex($align-items: flex-start);
    margin-bottom: 75px;
    padding-top: 30px;
    padding-left: 67px;
  }

  &__logo {
    max-width: 235px;
    height: 306px;
  }

  &__desc {
    width: 69.8%;
    padding-top: 3px;
    p {
      margin-bottom: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6666;
      letter-spacing: 0.9px;
      text-align: left;
    }

    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__stats {
    @include flex($align-items: stretch);
    @include reset-list();
    margin-bottom: 60px;
  }

  &__stats-item {
    width: 31.63%;
    min-height: 150px;
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    color: #424141;
    text-align: center;
  }

  &__stats-item * {
    display: block;
  }

  &__stats-number {
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 3.69px;
  }

  &__stats-transcript {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.5px;
  }

  &__stats-extra-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.666;
    letter-spacing: 0.9px;
  }

  &__slick {
    margin-bottom: 40px;
  }

  &__more {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .about {
    &__top-info {
      padding-left: 0;
    }

    &__logo {
      max-width: 156px;
      height: 204px;
    }

    &__stats-item {
      width: 30.7%;
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-bottom: 123px;
  
    &__top-info {
      margin-bottom: 53px;
      padding-top: 22px;
    }

    &__logo {
      margin-top: 6px;
    }

    &__slick {
      margin-bottom: 25px;
    }

    &__desc {
      width: 74%;
      padding-top: 0;
      p {
        letter-spacing: 0.8px;
        line-height: 1.7;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }

    &__stats {
      margin-bottom: 38px;
    }

    &__stats-item {
      width: 31%;
      padding: 4px;
      padding-top: 0;
    }
  }
}

@media (max-width: 767px) {
  .about {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #c3c5c8 60%, #85898f 100%);
    background-size: cover;
    &__top-info {
      flex-direction: column;
      align-items: center;
    }

    &__desc {
      width: 100%;
    }

    &__logo {
      margin-top: 0;
      margin-bottom: 30px;
    }

    &__stats {
      flex-direction: column;
      align-items: center;
    }

    &__stats-item {
      width: 70%;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 375px) {
  .about {
    margin-bottom: 90px;
    
    &__top-info {
      margin-bottom: 36px;
    }

    &__slick {
      margin-bottom: 20px;
    }

    &__logo {
      margin-bottom: 10px;
    }

    &__desc {
      p {
        font-size: 16px;
        line-height: 1.666;
      }
    }

    &__stats {
      margin-bottom: 20px;
    }

    &__stats-item {
      margin-bottom: 28px;
      min-height: 92px;
      padding-bottom: 15px;
    }

    &__stats-number {
      margin-bottom: 20px;
      font-size: 72px;
      line-height: 18px;
    }

    &__stats-transcript {
      font-size: 24px;
    }

    &__stats-extra-info {
      font-size: 16px;
      line-height: 1;
    }
  }


  .about__stats-item:last-child {
    margin-bottom: 0;
  }

  .about__stats-item:first-child {
    .about__stats-number {
      margin-bottom: 32px;
    }
  }

  .about__desc p:not(:last-child) {
    margin-bottom: 6px;
  }
}