.bottom-social {
  @include flex();
  @include reset-list();
  width: 134px;

  &__link {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.bottom-social__link svg {
  fill: $white;
  transition: 0.1s linear;
}

.bottom-social__link:hover svg {
  fill: $orange !important;
}

.bottom-social__link svg {
  pointer-events: none;
}
