.breadcrumbs {
  flex-basis: 100%;
  @include reset-list();
  margin-bottom: 34px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item:not(:first-child) {
    padding-left: 30px;
  }

  &__link {
    color: #424141;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;

    &--home {
      text-decoration: underline;
    }

    &--current {
      font-weight: 300;
    }
  }
}
.breadcrumbs__link:not(.breadcrumbs__link--home) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -21px;
    width: 10px;
    height: 10px;
    border: 2px solid #ed8c2b;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
  }
}

@media (max-width: 1024px) {
  .breadcrumbs {
    margin-bottom: 11px;
  }
}
