.certificates {
  padding: 55px 0;

  &__sect-title {
    margin-bottom: 18px;
  }
  
  p {
    margin-bottom: 25px;
    color: #252525;
    font-weight: 300;
    line-height: 1.625;
    letter-spacing: 0.8px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .certificates {
    padding-bottom: 20px;

    &__sect-title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 480px) {
  .certificates {
    padding: 19px 0 20px;

    &__sect-title {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 14px;
    }
  }
}