.charcs {
  @include reset-list();

  &__item {
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--size {
      padding-left: 25px;

      &::before {
        width: 16px;
        height: 16px;
        background-image: url('../img/svg/size.svg');
      }
    }

    &--thickness {
      padding-left: 28px;

      &::before {
        width: 18px;
        height: 16px;
        background-image: url('../img/svg/width.svg');
      }
    }

    &--surface {
      padding-left: 30px;
      word-break: break-all;

      &::before {
        width: 19px;
        height: 16px;
        background-image: url('../img/svg/area_icon.svg');
      }
    }

  }

}

