.coll-examples {
  &__slider {
    margin-bottom: 10px;
  }

  &__sect-title {
    margin-bottom: 20px;
  }

}

.single-card-main__coll-examples {
  margin-bottom: 16px;
}

@media (max-width: 1366px) {
  .coll-examples {
    &__bottom-item {
      width: 49.65%;
    }
  }
}

@media (max-width: 1280px) {
  .coll-examples {
    &__bottom-item {
      min-height: 260px;
    }
  }
}

@media (max-width: 1024px) {

  .coll-examples {
    padding: 0 24px;
  }

  .coll-examples__slider {
    margin-bottom: 20px;
  }

  .coll-examples__tooltip {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .coll-examples {
    &__bottom {
      flex-direction: column;
    }

    &__bottom-item {
      display: flex;
      align-items: stretch;
      width: 100%;
      margin-right: 0;

      &:first-child {
        margin-right: 0;
        margin-bottom: 30px;
      }

      a {
        height: auto;
      }

    }
  }

  .coll-examples__bottom-item a:hover .coll-examples__go-to-page {
    display: block;
  }

  .coll-examples__bottom-item a:hover .coll-examples__bottom-main-text {
    padding-top: 48px;
  }
}

@media (max-width: 480px) {
  .coll-examples {
    padding: 0 10px;

    &__bottom-item a {
      padding: 10px 5px;
    }

    &__bottom-main-text {
      font-size: 22px;
    }

    &__tooltip {
      max-width: 83%;
      width: 83%;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .coll-examples__bottom-item a:hover .coll-examples__bottom-main-text {
    padding-top: 0
  }

  .coll-examples__bottom-item a:hover .coll-examples__go-to-page {
    display: none;
  }
}
