.coll-examples {
  margin-bottom: 60px;
  overflow: hidden;

  &__slider {
    margin-bottom: 10px;
  }

  &__slide {
    display: block !important;
    position: relative;
  }

  &__tooltip {
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    min-height: 170px;
    padding: 20px;
    border-radius: 5px;
    background-color: $white;
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      margin: 0 auto 10px;
      background: $orange;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-item {
    width: 50%;
    min-height: 350px;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
    }


    &--opts {
      margin-right: 10px;
      background: url('../img/coll-examples-bottom-opts.jpg') no-repeat center;
      background-size: cover;
    }

    &--create-template {
      background: url('../img/coll-examples-bottom-create-template.jpg') no-repeat center;
      background-size: cover;
    }
  }

  &__bottom-main-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  &__bottom-desc {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.9px;
    color: $white;
  }
}

.coll-examples__bottom-item a:hover .coll-examples__bottom-main-text {
  text-decoration: underline;
}

.coll-examples__slide:hover .coll-examples__tooltip {
  display: flex;
}

.coll-examples__go-to-page {
  display: none;
  margin-top: 30px;
  padding-right: 35px;
  text-shadow: 0 3px 5px rgba(17, 17, 17, 0.4);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background: url('../img/go-to-page-arr-right.png') no-repeat right -1px;
}

.coll-examples__bottom-item a:hover .coll-examples__go-to-page {
  display: block;
}

.coll-examples__bottom-item a:hover .coll-examples__bottom-main-text {
  padding-top: 48px;
}

@media (max-width: 1366px) {
  .coll-examples {
    &__bottom-item {
      width: 49.65%;
    }
  }
}

@media (max-width: 1280px) {
  .coll-examples {
    &__bottom-item {
      min-height: 260px;
    }
  }
}

@media (max-width: 1024px) {

  .coll-examples {
    padding: 0 24px;
  }

  .coll-examples__slider {
    margin-bottom: 20px;
  }

  .coll-examples__tooltip {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .coll-examples {
    &__bottom {
      flex-direction: column;
    }

    &__bottom-item {
      display: flex;
      align-items: stretch;
      width: 100%;
      margin-right: 0;
      
      a {
        height: auto;
      }

      &--opts {
        margin-bottom: 15px;
      }
    }
  }

  .coll-examples__bottom-item a:hover .coll-examples__go-to-page {
    display: block;
  }
  
  .coll-examples__bottom-item a:hover .coll-examples__bottom-main-text {
    padding-top: 48px;
  }
}

@media (max-width: 480px) {
  .coll-examples {
    padding: 0 10px;

    &__bottom-item a {
      padding: 10px 5px;
    }

    &__bottom-main-text {
      font-size: 22px;
    }

    &__tooltip {
      max-width: 83%;
      width: 83%;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .coll-examples__bottom-item a:hover .coll-examples__bottom-main-text {
    padding-top: 0
  }

  .coll-examples__bottom-item a:hover .coll-examples__go-to-page {
    display: none;
  }
}
