.collections {
  margin-bottom: 35px;

  &__list {
    @include flex($just-cont: space-around, $align-items: stretch);
    padding: 0;
    margin: 0;
    margin-top: -75px;
    margin-left: -15px;
    margin-right: -15px;
    list-style: none;
  }

  &__centerer {
    @include desktop-centerer;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
    width: 31.63%;
    margin-bottom: 30px;
    min-height: 300px;
    padding: 65px 6.4%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &::before {
      transition: 0.6s ease;
      display: none;
    }

    &:hover::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      
    }

    &--all {
      background-image: url("../img/collections-all-bg.jpg");
    }

    &--new {
      background-image: url("../img/collections-new-bg.jpg");
    }

    &--ceramic3d {
      background-image: url("../img/collections-ceramic3d-bg.jpg");
    }
  }

  &__title {
    align-self: center;
    position: relative;
    margin: 0;
    padding: 20px 10px 0;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6666;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    word-break: break-word;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      @include pseudo-elem-centerer;
      width: 100px;
      height: 1px;
      background: $orange;
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    z-index: 1;
    flex-grow: 1;
    min-height: 170px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .collections {
    &__item {
      z-index: 1;
      padding: 65px 1.6%;
    }
  }
}

@media (max-width: 768px) {
  .collections {
    margin-bottom: 52px;
    &__list {
      margin: 0;
      margin-top: -66px;
    }
    &__item {
      width: 30%;
      min-height: 260px;
      padding: 65px 2.15%;
    }

    &__title-wrapper {
      min-height: 130px;

      &__title {
        padding-top: 16px;

        &::before {
          top: 2px;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .collections {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 60%;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 480px) {
  .collections__item {
    width: 100%;
    padding-right: 19%;
    padding-left: 19%;
  }
}

@media (max-width: 375px) {
  .collections {
    margin-bottom: 34px;
  }

  .collections__item {
    margin-bottom: 16px;
  }

  .collections__item:last-child {
    margin-bottom: 0;
  }
}
