.coll-elems {
  padding: 31px 0 47px;
  background-color: #f5f6f6;

  &__sect-title {
    margin-bottom: 10px;
    line-height: 1.3125;
  }

  &__list {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
    color: #252525;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 384px;
    padding-top: 20px;
    padding-bottom: 30px;
    cursor: pointer;
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 281px;
    margin-bottom: 9px;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  &__charcs-item  {
    margin-bottom: 12px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__info-right {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 5px;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: initial;
    line-height: 1;

    span {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 0.55px;
    }
  }
}

.coll-elems__list > li:nth-child(3n+2) {
  width: 399px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid #e8e9e9;
  border-right: 1px solid #e8e9e9;
  border-bottom: 1px solid #e8e9e9;
}

.coll-elems__list > li:nth-child(3n+4),
.coll-elems__list > li:first-child{
  padding-left: 9px;
  padding-right: 25px;
  border-bottom: 1px solid #e8e9e9;

}

.coll-elems__list > li:nth-child(3n+3) {
  padding-left: 25px;
  padding-right: 9px;
  border-bottom: 1px solid #e8e9e9;
}

.coll-elems__list > li:nth-last-child(1),
.coll-elems__list > li:nth-last-child(2),
.coll-elems__list > li:nth-last-child(3) {
  border-bottom: none;
}


// @media (max-width: 1366px) {
//   .coll-elems .coll-elems__list > li {
//     width: 384px;
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }

@media (max-width: 1400px) {
  .coll-elems {
    &__list {
      // justify-content: center;
      width: 85%;
      margin: 0 auto;
    }
  }
  .coll-elems .coll-elems__list > li {
    // width: 44.27083%;
    width: 50%;
  }

  .coll-elems__list > li:nth-child(odd) {
    border-right: 1px solid #e8e9e9;
    border-left: none;
  }

  .coll-elems__list > li:nth-child(even) {
    border-right: none;
    border-left: none;
  }

  .coll-elems .coll-elems__list > li {
    border-bottom: 1px solid #e8e9e9;
  }

  .coll-elems__list > li:nth-last-child(2),
  .coll-elems__list > li:last-child {
    border-bottom: none;
  }
}

@media (max-width: 1024px) {

  .coll-elems {
    padding-bottom: 47px;
  }

  .coll-elems__list > li:nth-child(odd) {
    padding-left: 0;
    padding-right: 14px;
  }

  .coll-elems__img-wrapper {
    margin-bottom: 24px;
  }

  .coll-elems__list > li:nth-child(even) {
    padding-right: 0;
    padding-left: 14px;
  }

  .coll-elems__list {
    width: 100%;
    margin: 0;
  }
  .coll-elems .coll-elems__list > li {
    width: 50%;
  }
}

@media (max-width: 670px) {
  .coll-elems {
    &__list {
      display: block;
    }

    &__img-wrapper {
      min-height: unset;
    }
  }

  .coll-elems .coll-elems__list > li {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8e9e9;
  }

  .coll-elems .coll-elems__list > li:last-child {
    border-bottom: none;
  }
}

.single-card-main .coll-elems {
  margin-bottom: 50px;
}


@media (max-width: 480px) {

  .coll-elems__list > li:nth-child(odd) {
    padding-right: 0;
  }

  .coll-elems__list > li:nth-child(even) {
    padding-left: 0;
  }

  .coll-elems {
    padding-bottom: 0;

    &__sect-title {
      margin-bottom: -3px;
    }

    &__info-right {
      flex-basis: 45%;
    }

    &__item {
      padding: 14px 0 18px 0;
    }

    &__img-wrapper {
      margin-bottom: 12px;
    }

    &__title {
      margin-bottom: 11px;
    }
  }
}
