.coll-present {
  margin-bottom: 40px;
  padding: 40px 0;
  background-color: #f5f6f6;
  text-align: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }

  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
    border-radius: 5px;
    background-color: #ffffff;

    &:nth-child(4) {
      margin-right: 0;
    }

  }

  &__link {
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__subtitle {
    position: relative;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 50px;
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8888;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      width: 28px;
      height: 30px;
      background: url('../img/svg/download.svg') no-repeat center;
    }
  }

  &__btn {
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  .coll-present {
    &__list {
      width: 90%;
      margin: 0 auto;
      justify-content: center;
    }
    &__item:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .coll-present {
    &__list {
      width: auto;
      justify-content: space-around;
      margin: 0 -15px;
    }

    &__item {
      width: 45.6%;
      margin-right: 0;
    }
   
  }
}

@media (max-width: 670px) {
  .coll-present {
    &__list {
      display: block;
    }

    &__item {
      width: 300px;
      margin: 0 auto 15px;
    }
  }

  .coll-present__item:nth-child(2n) {
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .coll-present {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}