.contests {
  @include flex($align-items: flex-start);
  max-width: $desktop-centerer;
  padding-top: 60px;
  padding-bottom: 50px;
  margin: 0 auto;

  &__info {
    width: 50%;
    padding: 8px 100px 0;
    text-align: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    color: $black;
    font-family: "PF Centro Slab Pro", "Arial", sans-serif;
    font-size: 28px;
  }

  &__list {
    @include reset-list();
    margin-bottom: 25px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__load-more {
    width: 175px;
    margin: 0 auto;
    text-align: left;
  }

  &__time {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.11px;
  }

  &__name {
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
    letter-spacing: -0.15px;
  }

  &__prize {
    font-size: 14px;
    line-height: 1.7;
  }

  &__winners {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.13px;
    color: #9b9b9b;
  }

  &__slider {
    width: 50%;
  }
}

@media (max-width: $desktop-width) {
  .contests {
    padding-left: 30px;
    padding-right: 30px;

    &__info {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media (max-width: $tablet-width) {
  .contests {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

    &__info {
      width: 100%;
      margin-bottom: 30px;
      padding-top: 0;
    }

    &__slider {
      align-self: center;
      width: 70%;
    }
  }
}

@media (max-width: $mobile-width-lg) {
  .contests {
    &__slider {
      width: 90%;
    }

    &__info {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .contests {
    &__slider {
      width: 100%;
    }
  }
}
