.contacts-list {
  margin-top: 0;
  padding: 0;
  list-style: none;

  &__item:not(:last-child) {
    margin-bottom: 11px;
  }

  &__key {
    display: block;
    margin-bottom: 9px;
    padding-left: 4px;
    color: #ed8c2b;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: 0.8px;
  }

  &__value {
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: 0.8px;
    word-break: break-all;
  }

  &__phone {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
  }
}

.wtb__branches .contacts-list {
  margin-bottom: 15px;
}
