.docs {
  margin-bottom: 53px;
  padding: 34px 0 10px;
  background-color: #f5f6f6;

  &__sect-title {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px;
    padding: 0;
    list-style: none;

    &--d-center {
      justify-content: center;
    }
  }

  &__item {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .docs {
    &__list {
      margin: 0 -15px;
    }

    &__item {
      display: flex;
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .docs {
    &__item {
      width: 45%;
    }

    &__list {
      justify-content: space-around;
    }
  }
}

@media (max-width: 480px) {
  .docs {
    padding-top: 20px;

    &__list {
      display: block;
      margin: 0;
    }

    &__item {
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
    }
  }
}
