
.events {
  padding-bottom: 64px;

  &__title {
    position: relative;
    max-width: 201px;
    margin: 0 auto 56px;
    color: $red;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 0.8px;
    text-align: right;
    text-transform: uppercase;

    &::before {
      content: "";
      top: -4px;
      left: -5px;
      position: absolute;
      width: 33px;
      height: 29px;
      background: url("../img/schedule.png") no-repeat;
    }
  }

  &__list {
    @include reset-list($margin: 0 auto 19px);
    @include flex($just-cont: space-around, $align-items: stretch);
    max-width: 822px;
  }

  &__link {
    display: block;
    transition: all 0.1s linear;
  }

  &__item {
    width: 258px;
    margin-bottom: 33px;
  }

  &__time {
    display: block;
    margin-bottom: 8px;
    line-height: 1.33;
    letter-spacing: -0.16px;
    text-align: center;
  }

  &__name {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.13px;
  }

  &__author {
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.15px;
  }

  &__img {
    height: 125px;
  }

  &__img-wrapper {
    position: relative;
    height: 146px;
    margin-bottom: 16px;
    padding: 10px;
    background-color: $white;
    transition: all 0.1s linear;

    &::before {
      content: "";
      position: absolute;
      width: 235px;
      height: 125px;
      top: 10px;
      left: 10px;
      background: #e3978b;
      opacity: 0;
      transition: all 0.1s linear;
    }
  }

  &__play-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    width: 70px;
    height: 71px;
    border: 4px solid rgba(255, 255, 255, 0.69);
    border-radius: 50%;
    background: transparent;
    transition: all 0.1s linear;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-left: 25px solid rgba(255, 255, 255, 0.69);
      border-bottom: 15px solid transparent;
      transition: all 0.1s linear;
    }
  }

  &__sign-btn {
    position: relative;
    display: block;
    width: 373px;
    margin: 0 auto 30px;
    padding: 18px 30px;
    color: $white;
    background-color: #e45937;
    border-radius: 50px;
    border-top: 5px solid #ff8a41;
    box-shadow: inset 0 2px 2px 2px $orange-dark;
    font-family: "Amazing Grotesk DemiBold", "Arial", sans-serif;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.74px;
    text-align: center;

    &:hover {
      top: -1px;
      margin-bottom: 32px;
      border-top-width: 3px;
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      top: -2px;
      margin-bottom: 35px;
      border-top: none;
    }
  }

  &__lottery-btn {
    width: 265px;
    margin: 0 auto;
  }
}

.events__link:hover {
  color: #f94f33;

  .events__img-wrapper::before {
    opacity: 0.6;
  }

  .events__play-btn {
    border-color: $white;

    &::before {
      border-left-color: $white;
    }
  }
}

.events__link:active {
  .events__play-btn {
    transform: scale(0.9);
  }
}

@media (max-width: $tablet-width) {
  .events {
    padding-bottom: 40px;

    &__title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $mobile-width-lg) {
  .events {
    &__sign-btn {
      width: 300px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 22px;
    }
  }
}
