.full-p-two-cols {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 50%;
    min-height: 350px;

    &:first-child {
      margin-right: 10px;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
    }


    &--opts {
      background: url('../img/coll-examples-bottom-opts.jpg') no-repeat center;
      background-size: cover;
    }

    &--create-template {
      background: url('../img/coll-examples-bottom-create-template.jpg') no-repeat center;
      background-size: cover;
    }

    &--3d-ceramic {
      background: url('../img/full-p-two-cols-3d-ceramic.jpg') no-repeat center;
      background-size: cover;
    }

    &--collaba-design {
      background: url('../img/full-p-two-cols-collaba-design.jpg') no-repeat center;
      background-size: cover;
    }

    &--pos-rules {
      background: url('../img/full-p-two-cols-pos-rules.jpg') no-repeat center;
      background-size: cover;
    }

    &--interiors {
      background: url('../img/full-p-two-cols-interiors.jpg') no-repeat center;
      background-size: cover;
    }

  }

  &__main-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  &__desc {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.9px;
    color: $white;
  }
}


.full-p-two-cols__item a:hover .full-p-two-cols__main-text {
  text-decoration: underline;
}

.full-p-two-cols__go-to-page {
  display: none;
  margin-top: 30px;
  padding-right: 35px;
  text-shadow: 0 3px 5px rgba(17, 17, 17, 0.4);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  background: url('../img/go-to-page-arr-right.png') no-repeat right -1px;
}

.full-p-two-cols__item a:hover .full-p-two-cols__go-to-page {
  display: block;
}

.full-p-two-cols__item a:hover .full-p-two-cols__main-text {
  padding-top: 48px;
}

@media (max-width: 1366px) {
  .full-p-two-cols {
    &__item {
      width: 49.65%;
    }
  }
}

@media (max-width: 1280px) {
  .full-p-two-cols {
    &__item {
      min-height: 260px;
    }
  }
}


@media (max-width: 768px) {
  .full-p-two-cols {
    flex-direction: column;

    &__item {
      display: flex;
      align-items: stretch;
      width: 100%;
      margin-right: 0;

      &:first-child {
        margin-right: 0;
        margin-bottom: 30px;
      }

      a {
        height: auto;
      }

    }
  }

  .full-p-two-cols__item a:hover .full-p-two-cols__go-to-page {
    display: block;
  }

  .full-p-two-cols__item a:hover .full-p-two-cols__main-text {
    padding-top: 48px;
  }
}

@media (max-width: 480px) {
  .full-p-two-cols {

    &__item a {
      padding: 10px 5px;
    }

    &__main-text {
      font-size: 22px;
    }
  }
  .full-p-two-cols__item a:hover .full-p-two-cols__main-text {
    padding-top: 0
  }

  .full-p-two-cols__item a:hover .full-p-two-cols__go-to-page {
    display: none;
  }
}
