.inner-header {

  &--catalog {
    padding: 11px 0 20px;
  }

  &--collection {
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
    color: #424141;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  &__tag-new {
    margin-left: 15px;
  }

  &__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &--catalog {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

  }

  &__btn-wrapper {
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .inner-header {
    &--catalog {
      padding-bottom: 23px;
    }
  }
}

@media (max-width: 767px) {

  .inner-header {
    &__bottom-wrapper--catalog {
      flex-direction: column;
      align-items: flex-start;
    }
    &__btn-wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 0;
    }
  }

}


@media (max-width: 480px) {
  .inner-header {

    &--catalog {
      padding-top: 7px;
      padding-bottom: 19px;
    }

    &__title {
      font-size: 24px;
    }
  }
}
