.main-nav {
  @include flex($align-items: stretch, $just-cont: flex-start);
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #252525;

  &__list {
    @include flex();
    flex-wrap: nowrap;
    width: 37.5%;
    margin: 0;
    list-style: none;

    &--left {
      order: 0;
      padding-right: 25px;
      padding-left: 0;
    }

    &--right {
      order: 1;
      margin-left: auto;
      position: relative;
      padding-left: 25px;
      padding-right: 18px;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 293px;
    min-height: 114px;
    padding: 92px 25px 7px 33px;
    background-color: #676c73;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    color: #ffffff;
    font-family: $century;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;

    &:hover svg {
      fill: $orange;
    }

    svg {
      position: absolute;
      width: 250px;
      height: 84px;
      top: 4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: 0.1s linear;
      transition: 0.1s linear;
      fill: #fefefe;
    }
  }

  &__item {
    margin-right: 10px;
  }

  &__item--no-mr {
    margin-right: 0;
  }

  &__link {
    display: block;
    padding: 31px 5px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &__language-option {
    position: absolute;
    top: 24px;
    right: -62px;
    color: #252525;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.7px;

    &:hover {
      opacity: 0.4;
    }
  }
}

.main-nav__top-icons-panel {
  position: absolute;
  top: 109px;
  right: 16.3%;
}

@media (max-width: 1600px) {

  .main-nav__top-icons-panel {
    right: 8%;
  }
}

@media (max-width: 1500px) {

  .main-nav__top-icons-panel {
    right: 50px;
  }
}

@media (max-width: 1366px) {

  .main-nav__language-option {
    right: -10%;
  }
}

@media (max-width: 1300px) {
  .main-nav {
    justify-content: space-between;

    &__list--right {
      padding-right: 45px;
    }

    &__item {
      margin-right: 0;
    }

    &__link {
      font-size: 14px;
    }

    &__language-option {
      right: 10px;
      cursor: pointer;
    }

    &__logo {
      width: 270px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }

  .main-nav__top-icons-panel {
    right: 27px;
  }
}

@media (max-width: 1024px) {
  .main-nav {
    display: block;
    position: absolute;
    padding: 70px 50px 50px;
    top: 0;
    left: -100%;
    width: 63%;
    height: 100vh;
    overflow-y: auto;
    z-index: 50;
    transition: 0.7s ease;
    box-shadow: 5px 0 20px rgba(17, 17, 17, 0.1);
    background:rgba(245, 246, 246, 0.9);

    &__logo {
      display: none;
    }

    &__list {
      display: block;
      width: 100%;
      padding: 0;

      &--left {
        margin-bottom: 30px;
      }

      &--right {
        margin-bottom: 75px;
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          bottom: -40px;
          left: 50%;
          transform: translateX(-50%);
          width: 286px;
          height: 1px;
          background: $white;
        }
      }
    }

    &__language-option {
      display: none;
    }

    &__item {
      margin-bottom: 30px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      display: inline;
      font-size: 16px;
      padding: 0;

      &:hover {
        color: $orange;
        background-color: unset;
      }
    }

    &--show {
      left: 0;
    }
  }

  .main-nav__top-icons-panel li {
    width: auto;
  }

  .main-nav__top-icons-panel .top-icons-panel__item--search {
    display: none;
  }

}

@media (max-width: 767px) {
  .main-nav {
    width: 100%;
    box-shadow: none;
  }
}
