.mobile-header {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-header {
    @include flex($align-items: flex-start);
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;

      // &--menu-opened {
      //   padding-left: 90px;
      // }

    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 220px;
      height: 85px;
      padding: 67px 10px 7px 10px;
      background-color: #676c73;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
      color: #ffffff;
      font-family: $century;
      font-size: 11px;
      font-weight: 400;
      line-height: 1;
      text-align: center;

      svg {
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        width: 187px;
        height: 62px;
        fill: #fefefe;
      }
    }

    &__language-option {
      margin-right: 22px;
      margin-left: auto;
      padding-top: 15px;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      cursor: pointer;
    }

    &__search {
      padding-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .mobile-header {
    &__logo {
      height: 60px;
      padding: 0;
      font-size: 0;

      svg {
        width: 163px;
        height: 54px;
      }
    }
  }
}

@media (max-width: 480px) {
  .mobile-header {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;

    &--menu-opened {
      padding-left: 70px;
    }

    &__logo {
      width: 120px;
      height: 40px;
      svg {
        width: 104px;
        height: 35px;
      }
    }

    &__language-option {
      padding-top: 5px;
    }

    &__search {
      padding-top: 10px;
    }
  }
}

// @media (max-width: 480px) {
//   .mobile-header {
//     &--menu-opened {
//       padding-left: 73px;
//     }
//   }
// }
