.page-text {
  padding-top: 54px;
  padding-bottom: 58px;

  p {
    max-width: 1000px;
    padding-left: 100px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.666;
    letter-spacing: 0.9px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}