.page-text {
  p {
    max-width: 1000px;
    padding-left: 100px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.666;
    letter-spacing: 0.9px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.page-text--catalog {
  p {
    padding-left: 100px;
  }
}

@media (max-width: 1024px) {
  .page-text {
    p {
      padding-left: 0;
    }
  }
}

.infotext p {
  max-width: 1000px;
  margin-bottom: 20px;
  color: #252525;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.666;
  letter-spacing: 0.9px;
}

.infotext p:last-of-type {
  margin-bottom: 0;
}
