.page-btn {
  display: inline-block;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  box-shadow: 0 4px 20px rgba(17, 17, 17, 0.2);
  border: 2px solid $orange;
  border-radius: 25px;
  background-color: $orange;

  &:hover {
    background-color: #ed7a07;
    border-color: #ed7a07;
  }

  &--hollow {
    background-color: transparent;
    border: 2px solid $orange;
    color: $orange;

    &:hover {
      background-color: #ed8c2b;
      color: $white;
    }
  }
}

@media (max-width: 768px) {
  .page-btn {
    padding-left: 25px;
    padding-right: 25px;
  }
}
