.pagination {
  position: relative;
  @include flex($just-cont: center);
  @include reset-list();

  &__item {
    margin-right: 15px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #ababab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }
}

.pagination__link--current  {
  border: 1px solid #ff7f00;
  color: #ff7f00;
}


.pagination__item:nth-last-of-type(2) {
  margin-right: 0;
}

.pagination__left-btn,
.pagination__right-btn {
  width: 23px;
  height: 15px;
}

.pagination__left-btn {
  margin-right: 30px;
  background: url('../img/pagination-left-arrow.svg') no-repeat center;
}

.pagination__right-btn {
  background: url('../img/pagination-right-arrow.svg') no-repeat center;
  margin-left: 30px;
}

.pagination__left-btn a,
.pagination__right-btn a {
  display: block;
  height: 100%;
}