.preview {
  padding-top: 40px;

  &--gray {
    background-color: #f5f6f6;
  }
  &__item {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__slider {
    margin: 0 -15px;
  }
}

.layout-example__preview {
  margin-bottom: 40px;
}

@media (max-width: 1400px) {
  .preview {
    &__slider {
      width: 900px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .preview {
    &__slider {
      width: auto;
      margin: 0 -15px;
    }
  }
  .layout-example__preview {
    margin-bottom: 62px;
  }
}

@media (max-width: 767px) {
  .preview {
    &__slider {
      margin: 0 -8px;
    }
  }
}

@media (max-width: 670px) {
  .preview {
    &__slider {
      width: 85.15%;
      margin: 0 auto;
    }
  }

}

@media (max-width: 480px) {
  .preview {
    padding-top: 11px;

    &__title {
      margin-bottom: 2px;
    }

    &__slider {
      width: auto;
      margin: 0 -10px;
    }
  }

  .layout-example__preview {
    margin-bottom: 30px;
  }
}
