.projects-preview-article {

  text-align: center;

  &__sect-title {
    margin-bottom: 17px;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.625;
    letter-spacing: 0.8px;
    text-align: left;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.layout-example__projects-preview {
  margin-bottom: 14px;
}

.about__projects-preview {
  padding-bottom: 60px;
}

.about__projects-preview-slider {
  margin-top: 22px;
  margin-bottom: 44px;
  text-align: left;
}

@media (max-width: 1024px) {

  .about__projects-preview {
    padding-bottom: 72px;
  }

  .about__projects-preview-slider {
    margin-bottom: 30px;
  }

  .layout-example__projects-preview-title {
    margin-bottom: 22px;
  }
}

@media (max-width: 480px) {
  .about__projects-preview {
    padding-bottom: 30px;
  }

  .about__projects-preview-slider {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }

  .layout-example__projects-preview-title {
    margin-bottom: 17px;
  }
}
