.projects-preview-article {
  padding-bottom: 60px;
  text-align: center;

  &__sect-title {
    margin-bottom: 17px;
  }

  &__slider {
    margin-top: 22px;
    margin-bottom: 44px;
    text-align: left;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.625;
    letter-spacing: 0.8px;
    text-align: left;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1024px) {
  .projects-preview-article {
    padding-bottom: 72px;
  }
  
  .projects-preview-article__slider {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .projects-preview-article__slider {
    padding: 0 10px;
  }
}