.social {
  @include flex();
  @include reset-list();
  width: 120px;

  &__item {
    width: 32px;
    height: 32px;
  }

  &__link {
    @include flex($just-cont: center);
    width: 100%;
    height: 100%;
    border: 2px solid $red;
    border-radius: 50%;
    transition: all 0.1s linear;

    &:hover {
      border-color: #ff4e4e;

      svg {
        fill: #ff4e4e;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  svg {
    display: block;
    fill: $red;
    transition: all 0.1s linear;
  }
}
