.top-menu-social {
  @include reset-list();
  @include flex($just-cont: center);

  &__item {
    margin-right: 15px;
    opacity: 0.6;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }

    svg {
      fill: #b1b1b1;
    }

    &--mail svg {
      width: 34px;
      height: 26px;
    }

    &--vk svg {
      width: 36px;
      height: 22px;
    }

    &--fb svg {
      width: 17px;
      height: 35px;
    }

    &--insta svg {
      width: 40px;
      height: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}
