.top-menu-social {
  @include reset-list();
  @include flex($just-cont: center);

  &__item {
    margin-right: 15px;
    opacity: 0.6;

    svg {
      fill: #b2b2b2;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}
