.top-icons-panel {
  z-index: 10;
  @include reset-list();

  &__item {
    margin-bottom: 28px;
    text-align: center;

    &--search {
      width: 20px;
      height: 20px;
    }

    &--vk {
      width: 18px;
      height: 18px;
    }

    &--fb {
      width: 16px;
      height: 18px;
    }

    &--mail {
      width: 18px;
      height: 14px;
    }

    &--insta {
      width: 20px;
      height: 20px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1024px) {

  .top-icons-panel {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      margin-bottom: 0;
      margin-right: 15px;
      opacity: 0.6;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

