.viewed {
  padding: 33px 0 27px;
  padding: 33px 0 20px;
  background-color: #f5f6f6;

  &__sect-title {
    margin-bottom: 17px;
  }

  &__wrapper {
    width: 900px;
    margin: 0 auto;
  }

  &__item {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .viewed {
    &__wrapper {
      width: auto;
      margin: 0 -15px;
    }

    &__sect-title {
      margin-bottom: 12px;
    }
  }

  .layout-example__viewed {
    padding-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .viewed {
    &__wrapper {
      margin: 0 -8px;
    }
  }
}

@media (max-width: 670px) {
  .viewed {
    &__wrapper {
      width: 85.15%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 480px) {
  .viewed {
    padding-top: 16px;
    &__wrapper {
      width: auto;
      margin: 0 -10px;
    }

    &__sect-title {
      margin-bottom: 2px;
    }
  }

  .layout-example__viewed {
    padding-top: 14px;
    padding-bottom: 20px;
  }
}
