footer.main-footer
  .main-footer__subscribe.subscribe
    .container
      h2.subscribe__title Подписка на новости
      p.subscribe__desc Всегда свежая информация о скидках, акциях, полезные статьи и новости компании
      .subscribe__bottom-wrapper
        form.subscribe__form
          input.subscribe__input(type="email" required placeholder="Ваш e-mail")
          button.subscribe__btn.page-btn(type="submit") Подписаться
        ul.subscribe__social.bottom-social
          li.bottom-social__item
            a.bottom-social__link(href="javascript:void(0);" aria-label="Профиль компании \"Azori\" ВКонтакте")
              svg(width="100%" height="100%" role="img")
                title Профиль компании "Azori" в Фейсбуке
                use(xlink:href="img/sprite.svg#vk_white")
          li.bottom-social__item
            a.bottom-social__link(href="javascript:void(0);" aria-label="Профиль компании \"Azori\" в Фейсбуке")
              svg(width="100%" height="100%" role="img")
                title Профиль компании "Azori" в Фейсбуке
                use(xlink:href="img/sprite.svg#fb_white")
          li.bottom-social__item
            a.bottom-social__link(href="javascript:void(0);" aria-label="Профиль компании \"Azori\" в Инстаграмме")
              svg(width="100%" height="100%" role="img")
                title Профиль компании "Azori" в Фейсбуке
                use(xlink:href="img/sprite.svg#instagram_white")
        small.subscribe__agreement Нажимая кнопку "Подписаться" вы соглашаетесь с  #[a(href="javascript:void(0);") Политикой обработки персональных данных]
  .main-footer__middle
    .container
      a.main-footer__logo(href="javascript:void(0);")
        img(src="img/footer-logo.png" alt="Логотип компании \"Azori\"")
      nav.main-footer__nav
        ul.main-footer__nav-list
          li.main-footer__nav-item
            a(href="javascript:void(0);") О бренде
          li.main-footer__nav-item
            a(href="javascript:void(0);") Коллекции
          li.main-footer__nav-item
            a(href="javascript:void(0);") Где купить
          li.main-footer__nav-item
            a(href="javascript:void(0);") Новости
          li.main-footer__nav-item
            a(href="javascript:void(0);") Контакты
          li.main-footer__nav-item
            a(href="javascript:void(0);") Партнерам
  .main-footer__bottom
    .container
      p.main-footer__copyright Azori
        span © 2017
      p.main-footer__madeby Разработка сайта:
        a(href="http://dev.trinet.ru/" target="_blank")
          svg(height="28" width="28" aria-hidden="true")
            title Компания "Тринет"
            use(xlink:href="img/sprite.svg#trinet")
          |  Trinet
          br
          | Development
  .subscribe-success-modal.hidden
    .subscribe-success-modal__message Спасибо, что интересуетесь нами!
