header.page-header
  nav.page-nav
    .menu-toggle
      span
      span
      span
      span
    a.page-nav__logo(href="/") Вдохновляйся. Мечтай. Созидай.
      svg(width="100%" height="100%")
        title Логотип компании "AZORI"
        use(xlink:href="img/sprite.svg#logo")
    ul.page-nav__list
      li.page-nav__item
        a.page-nav__link(href="/about.html") О бренде
      li.page-nav__item
        a.page-nav__link(href="/catalog-collections.html") Коллекции
      li.page-nav__item
        a.page-nav__link(href="/where-to-buy.html") Где купить
      li.page-nav__item
        a.page-nav__link(href="/news.html") Новости
      li.page-nav__item
        a.page-nav__link(href="/contacts.html") Контакты
      li.page-nav__item
        a.page-nav__link(href="/partners.html") Партнерам
      li.tablet-show
        ul.top-menu-social
          li.top-menu-social__item.top-menu-social__item--mail
            a(href="javascript:void(0);")
              svg(width="100%" height="100%")
                title Отправить сообщение
                use(xlink:href="img/sprite.svg#mail")
          li.top-menu-social__item.top-menu-social__item--vk
            a(href="javascript:void(0);")
              svg(width="100%" height="100%")
                title Профиль компании "AZORI" Вконтакте
                use(xlink:href="img/sprite.svg#vk")
          li.top-menu-social__item.top-menu-social__item--fb
            a(href="javascript:void(0);")
              svg(width="100%" height="100%")
                title Профиль компании "AZORI" в Фейсбуке
                use(xlink:href="img/sprite.svg#fb")
          li.top-menu-social__item.top-menu-social__item--insta
            a(href="javascript:void(0);")
              svg(width="100%" height="100%")
                title Профиль компании "AZORI" в Инстаграме
                use(xlink:href="img/sprite.svg#instagram")
    a.page-nav__lang-opt(href="javascript:void(0);") EN

    a.page-nav__search(href="javascript:void(0);")
      svg(width="21" height="20")
        title Поиск по сайту
        use(xlink:href="img/sprite.svg#search")
    .search-box
      input(type="text" placeholder="")
      button(type="button") Найти

    ul.page-nav__top-icons-panel.top-icons-panel
      li.top-icons-panel__item
        a(href="javascript:void(0);")
          svg(width="18" height="14")
            title Отправить сообщение
            use(xlink:href="img/sprite.svg#mail")
      li.top-icons-panel__item
        a(href="javascript:void(0);")
          svg(width="18" height="12")
            title Профиль компании "AZORI" Вконтакте
            use(xlink:href="img/sprite.svg#vk")
      li.top-icons-panel__item
        a(href="javascript:void(0);")
          svg(width="9" height="18")
            title Профиль компании "AZORI" в Фейсбуке
            use(xlink:href="img/sprite.svg#fb")
      li.top-icons-panel__item
        a(href="javascript:void(0);")
          svg(width="20" height="20")
            title Профиль компании "AZORI" в Инстаграме
            use(xlink:href="img/sprite.svg#instagram")
