header.page-header
      nav.page-nav
        .menu-toggle
          span
          span
          span
          span
        a.page-nav__logo(href="/") Вдохновляйся. Мечтай. Созидай.
        ul.page-nav__list
          li.page-nav__item
            a.page-nav__link(href="javasctipt:void(0);") О бренде
          li.page-nav__item
            a.page-nav__link(href="javasctipt:void(0);") Коллекции
          li.page-nav__item
            a.page-nav__link(href="javasctipt:void(0);") Где купить
          li.page-nav__item
            a.page-nav__link(href="javasctipt:void(0);") Новости
          li.page-nav__item
            a.page-nav__link(href="javasctipt:void(0);") Контакты
          li.page-nav__item
            a.page-nav__link(href="javasctipt:void(0);") Партнерам
          li.tablet-show
            ul.top-menu-social
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  img(src="img/mail-top-icons.png", alt="")
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  img(src="img/vk-top-icons.png", alt="")
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  img(src="img/fb-top-icons.png", alt="")
              li.top-menu-social__item
                a(href="javascript:void(0);")
                  img(src="img/insta-top-icons.png", alt="")
        a.page-nav__lang-opt(href="javascript:void(0);") EN
        a.page-nav__search(href="javascript:void(0);")
          img(src="img/search-top-icons.png" alt="Поиск по сайту")
        ul.page-nav__top-icons-panel.top-icons-panel
          li.top-icons-panel__item.top-icons-panel__item--mail
            a(href="javascript:voil(0);", aria-label="")
              img(src="img/mail-top-icons.png", alt="")
          li.top-icons-panel__item.top-icons-panel__item--vk
            a(href="javascript:voil(0);", aria-label="")
              img(src="img/vk-top-icons.png", alt="")
          li.top-icons-panel__item.top-icons-panel__item--fb
            a(href="javascript:voil(0);", aria-label="")
              img(src="img/fb-top-icons.png", alt="")
          li.top-icons-panel__item.top-icons-panel__item--insta
            a(href="javascript:voil(0);", aria-label="")
              img(src="img/insta-top-icons.png", alt="")
