@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/montserrat-v12-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src:
       url('../fonts/montserrat-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/montserrat-regular.eot'); /* IE9 Compat Modes */
  src:
       url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/montserrat-500.eot'); /* IE9 Compat Modes */
  src:
       url('../fonts/montserrat-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/montserrat-700.eot'); /* IE9 Compat Modes */
  src:
       url('../fonts/montserrat-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic.eot');
	src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CenturyGothic.woff') format('woff'),
      url('../fonts/CenturyGothic.ttf') format('truetype');
	font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CenturyGothic-Bold.woff') format('woff'),
      url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: 700;
  font-style: normal;
  font-display: swap;
}
