html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background: $white;
  word-wrap: break-word;
  color: #424141;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

p {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.8px;
}

*:focus {
  outline: none;
}

main {
  flex-shrink: 0;
  flex-grow: 1;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

button:active,
a[href]:active {
  opacity: 0.4;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  @include desktop-centerer;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  line-height: 40px;
  background: $orange;
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 25px;
  border-radius: 50%;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.back-to-top.show:hover {
  background: $orange-saturate;
  opacity: 1;
}

.back-to-top.show {
  opacity: 0.75;
}

.tag-new {
  color: #ff7f00;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.inner-sect-title {
  color: #424141;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-align: center;
}

.back-to-parent-section {
  display: block;
  position: relative;
  padding-left: 35px;
  color: #ff7f00;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625;
  letter-spacing: 0.8px;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 15px;
    background: url('../img/back-top-parent-sect-arrow.png') no-repeat center;

  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.eng-page__text-container {
  margin-bottom: 40px;
  p {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.partners__sect {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.orange-rounded-btn-next {
  position: absolute;
  top: 50%;
  right: -70px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 55px;
  height: 55px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  background: url('../img/svg/arrow-right-orange.svg') no-repeat center;
  background-size: cover;

  &--ab-charcs {
    right: -100px;
  }
}

.page-link {
  color: #ff7f00;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: underline;
}

.page-link:hover {
  text-decoration: none;
}

.page-link:visited {
  color: #676c73;
}

.orange-rounded-btn-prev {
  position: absolute;
  top: 50%;
  left: -70px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 55px;
  height: 55px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  background: url('../img/svg/arrow-left-orange.svg') no-repeat center;
  background-size: cover;

  &--ab-charcs {
    left: -100px;
  }
}
.subscribe-success-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.subscribe-success-modal__message {
  background: $white;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid $orange;
}

.preview__orange-rounded-btn-next {
  right: -60px;
}

.preview__orange-rounded-btn-prev {
  left: -60px;
}

.viewed__orange-rounded-btn-next {
  right: -90px;
}

.viewed__orange-rounded-btn-prev {
  left: -90px;
}

.color-square {
  width: 45px;
  height: 45px;
  border: 2px solid #ff7f00;
  background-color: #998675;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0%, rgba(231, 219, 198, 0.5) 100%);
}

.inner-body {
  padding-top: 80px;
}

.wtb-city {
  padding-bottom: 29px;
}

.sitemap-main {
  padding-bottom: 100px;
}

.catalog-collections {
  padding-bottom: 58px;
}

.news-sect {
  padding: 40px 0;
  text-align: center;
  background-color: #f5f6f6;
}

.search-result-main {
  padding-bottom: 64px;
}

.pr-page-t-gallery-wrapper {
  margin-bottom: 26px;
}

.page-info {
  margin-bottom: 34px;
  p:last-child {
    margin-bottom: 0;
  }
}

.single-new {
  padding-bottom: 40px;

  &__img-center {
    display: block;
    margin: 0 auto 30px;
  }
}


.news-row {
  padding: 33px 0 40px;
  text-align: center;

  background: linear-gradient(to bottom, $white 19.25%, #f5f6f6 19.25%, #f5f6f6 79%, $white 79%);

  &--gray {
    background: #f5f6f6;
  }
}

.project-page__bottom-panel {
  padding: 29px 0;
}

.project-page__bottom-panel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-search__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  opacity: 0.5;
}

.mobile-search {
  float: right;
  position: absolute;;
  top: 0;
  right: 0;
  width: 0;
  input {
    display: block;
    width: 100%;
    height: 60px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 12px 40px 12px 10px;
    background-color: #ffffff;
  }
}

.slipping-bg {
  background: linear-gradient(to bottom, $white 8.5%, #f5f6f6 8.5%, #f5f6f6 91.3%, #ffffff 91.3%);
}

.collection__slipping-bg {
  margin-bottom: 40px;
  background: linear-gradient(to bottom, $white 8.5%, #f5f6f6 8.5%, #f5f6f6 84.8%, #ffffff 84.8%);
}

.single-new__slipping-bg {
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8.5%, #ffffff), color-stop(8.5%, #f5f6f6), color-stop(84.8%, #f5f6f6), color-stop(84.8%, #ffffff));
  background: linear-gradient(to bottom, #ffffff 8.5%, #f5f6f6 8.5%, #f5f6f6 84.8%, #ffffff 84.8%);
}

.project-page__slipping-bg {
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8.5%, #ffffff), color-stop(8.5%, #f5f6f6), color-stop(84.8%, #f5f6f6), color-stop(84.8%, #ffffff));
  background: linear-gradient(to bottom, #ffffff 8.5%, #f5f6f6 8.5%, #f5f6f6 84.8%, #ffffff 84.8%);
}

.contacts-subtitle {
  margin-bottom: 21px;
  color: #252525;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.6px;

  &--eng {
    margin-bottom: 26px;
  }
}

.partners-preview__sect-title {
  margin-bottom: 7px;
}

@media (max-width: 1366px) {
  .container {
    padding: 0 70px;
  }
}

@media (max-width: 1024px) {
  .inner-body {
    padding-top: 60px;
  }

  .container {
    padding: 0 24px;
  }

  .back-to-top {
    bottom: 20px;
    right: 20px;
  }

  .pr-page-t-gallery-wrapper {
    margin: 0 24px 21px;
    padding: 0;
  }

  .page-info p {
    margin-bottom: 0;
  }

  .partners__sect--side-pd {
    padding: 0 24px;
  }

  .wtb-city {
    padding-bottom: 35px;
  }
}

@media (max-width: 670px) {
  .news-row {
    background: $white;

    &--gray {
      background: #f5f6f6;
    }
  }

  .contacts-subtitle--eng {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }

  .pr-page-t-gallery-wrapper {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .eng-page__text-container {
    margin-bottom: 14px;
  }

  .contacts-subtitle {
    margin-bottom: 9px;
  }

  .contacts-subtitle--eng {
    margin-bottom: 7px;
  }

  .news-row {
    padding: 20px 0;
  }

  .inner-body {
    padding-top: 40px;
  }

  .inner-sect-title {
    font-size: 24px;
  }

  .mobile-search input {
    height: 40px;
  }

  .partners__sect--side-pd {
    padding: 0 10px;
  }

  .partners__sect {
    margin-bottom: 30px;
  }

  .catalog-collections {
    padding-bottom: 38px;
  }

  .contacts-subtitle {
    font-size: 22px;
  }

  .project-page__bottom-panel {
    padding: 20px 0;
  }

  .full-p-two-cols-title {
    margin-bottom: 14px;
  }

  .wtb-city {
    padding-bottom: 30px;
  }
}
