/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.main-header__slick .slick-list {
  padding-left: 0 !important;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  display: flex;

  img {
      display: block;
  }

  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}

  .catalog-top-slider .slick-list,
  .catalog-top-slider .slick-slide {
    max-height: 420px;
    min-height: 390px;
  }

.catalog-top-slider .slick-arrow {
  position: absolute;
  top: 45%;
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  border: none;
  background-size: cover;
  font-size: 0;
  z-index: 1;
}

.catalog-top-slider__next {
  right: 17.5%;
  background: url('../img/top-slider-arrow-right.png') no-repeat center 4px;

}

.catalog-top-slider__prev {
  left: 17%;
  background: url('../img/top-slider-arrow-right.png') no-repeat center 4px;
  transform: rotate(-180deg);
}

.main-header__slick .slick-slide img {
  width: 100%;
}


.slick-arrow.slick-hidden {
  display: none;
}

.main-header__slick-prev {
  display: none !important;
}

.main-header__slick-next {
  position: absolute;
  top: 49%;
  right: 17.5%;
  z-index: 1;
  width: 55px;
  height: 65px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../img/top-slider-arrow-right.png') no-repeat center 5px;
  font-size: 0;
}

.main-header__slick .slick-dots {
  position: absolute;
  top: 45%;
  right: 23%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-header__slick .slick-dots li {
  margin: 0;
  margin-bottom: 21px;
}

.main-header__slick .slick-dots button {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: none;
}

.main-header__slick .slick-dots li.slick-active button {
  position: relative;
}

.main-header__slick .slick-dots li.slick-active button::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $white;
}

.about__slick .slick-slide {
  margin-right: 11px;
}

.about__slick .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  width: 45px;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.about__slick .slick-arrow.slick-prev {
  left: 20%;
  background: url('../img/arrow-left.png');
}

.about__slick .slick-arrow.slick-next {
  right: 20.8%;
  background: url('../img/arrow-right.png');
}

.news__list .slick-slide {
  display: flex;
}

.news__list .slick-list {
  display: flex;
  padding-bottom: 20px;
}

.news__list .slick-track {
  display: flex;
}

.catalog-top-slider .slick-slide img {
  min-height: 390px;
}

.collection__gallery .slick-list {
  border-radius: 5px;
}

.coll-examples .slick-slide {
  margin: 0 5px;
  transition: transform 0.2s linear;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
  }
}

.recommended .slick-slide,
.viewed .slick-slide {
  margin: 0 15px;
}

.recommended .card .slick-slide,
.viewed .card .slick-slide  {
  margin: 0;
}


.recommended .card .card__colors .slick-slide,
.viewed .card .card__colors .slick-slide {
  width: 40px !important;
  margin-right: 10px;
}

.recommended .slick-list,
.viewed .slick-list {
  padding-bottom: 10px;
  padding-top: 10px
}

.recommended .card .slick-list,
.viewed .card .slick-list {
  padding: 0;
}

.recommended .card .card__colors .slick-list {
  padding-bottom: 0;
}

.recommended .card .slick-slide img,
.viewed .card .slick-slide img {
  height: 100%;
}

.recommended .card .slick-slide img {
  max-width: 420px;
}

.viewed .card .slick-slide img,
.recommended .card .slick-slide img {
  width: 100%;
  min-height: 374px;
}

.recommended .card .card__colors .slick-list .slick-track {
  max-width: 100%;
}

.coll-examples__slide img {
  width: 100%;
}

// .recommended .card .slick-slide {
//   width: unset !important;
// }

// Кнопки в отдельной коллекции и в секции "Примеры готовых решений"

.collection__gallery .slick-arrow,
.coll-examples__slider .slick-arrow {
  position: absolute;
  width: 60px;
  height: 65px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  background-color: #ffffff;
  background-size: 35px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}

.collection__gallery-prev,
.coll-examples__slide-prev {
  background-image: url('../img/orange-arrow-left.png');
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.collection__gallery-prev {
  left: 3%;
}

.coll-examples__slide-prev {
  left: 1%;
}

.collection__gallery-next,
.coll-examples__slide-next {
  background-image: url('../img/orange-arrow-right.png');
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.collection__gallery-next {
  right: 3%;
}

.coll-examples__slide-next {
  right: 1%;
}

// Кнопки в секции "Рекомендуемые товары" и "Вы уже просмотрели"

.recommended .slick-arrow,
.viewed .slick-arrow {
  position: absolute;
  top: 50%;
  transform : translateY(-50%);
  z-index: 1;
  width: 55px;
  height: 55px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

@media (max-width: 1366px) {
  .coll-examples__slide img {
    min-height: 260px;
  }

  .recommended .slick-dots,
  .viewed .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .recommended .slick-dots button,
  .viewed .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .recommended .slick-dots li:not(:last-child),
  .viewed .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }

  .recommended .slick-dots li.slick-active button::before,
  .viewed .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }
}

@media (max-width: 1300px) {

  .main-header__slick-next {
    top: 65%;
    right: 10px;
  }
  .main-header__slick .slick-dots {
    top: 60%;
    right: 88px;
    z-index: 1;
  }

  .catalog-top-slider .slick-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .catalog-top-slider__next {
    right: 130px;
  }

  .catalog-top-slider__prev {
    left: 130px;
  }
}


@media (max-width: 1024px) {
  .about__slick .slick-slide {
    margin-right: 15px;
  }

  .main-header__slick .slick-slide img {
    min-height: 627px;
  }

  .main-header__slick .slick-dots {
    top: 64%;
    right: 31px;
  }

  .main-header__slick-next {
    top: 46%;
  }

  .about__slick .slick-slide img {
    width: 100%;
    height: 240px;
  }

  .about__slick .slick-arrow.slick-prev {
    left: 1%;
  }

  .about__slick .slick-arrow.slick-next {
    right: 2%;
  }


  .catalog-top-slider .slick-arrow {
    top: 35%;
  }

  .catalog-top-slider__next {
    right: 24px;
  }

  .catalog-top-slider__prev {
    left: 24px;
  }

  .collection__gallery-prev {
    left: 0;
  }

  .collection__gallery-next {
    right: 0;
  }

  .collection__gallery .slick-slide img {
    min-height: 450px;
  }

  .coll-examples__slider .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .coll-examples__slider .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .coll-examples__slider .slick-dots li {
    margin-right: 15px;
  }

  .coll-examples__slider .slick-dots li:last-child {
    margin-right: 0;
  }

  .coll-examples__slider .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }

  .coll-examples__slider .slick-list {
    padding: 10px 0;
  }

}

@media (max-width: 768px) {
  .main-header__slick-next {
    top: 46%;
    right: 23px;
  }

  .main-header__slick .slick-dots {
    top: 59.9%;
    right: 44px;
  }

}

@media (max-width: 767px) {
  .main-header__slick .slick-slide img {
    min-height: 400px;
  }

  .main-header__slick-next {
    top: 20%;
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: center 3px;
  }

  .main-header__slick .slick-dots {
    top: 36%;
    right: 38px;
  }

  .about__slick .slick-slide {
    margin-right: 10px;
  }

  .about__slick-item {
    width: 100% !important;
  }

  .about__slick .slick-dots,
  .news .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .news .slick-dots {
    margin: 20px auto 0;
  }

  .about__slick .slick-dots li:not(:last-child),
  .news .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }

  .about__slick .slick-dots button,
  .news .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .about__slick .slick-dots li.slick-active button::before,
  .news .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }

  .catalog-top-slider .slick-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-width: 3px;
    z-index: auto;

    &::before {
      top: 10px;
      left: 7px;
      width: 16px;
      height: 16px;
      border-width: 3px;
    }
  }

  .catalog-top-slider__prev {
    display: none !important;
  }

  .collection__gallery .slick-slide img {
    min-height: 280px;
  }

  .recommended .slick-slide,
  .viewed .slick-slide {
    margin: 0 8px;
  }

}

@media (max-width: 670px) {
  .recommended .slick-slide,
  .viewed .slick-slide {
    margin: 0 15px;
  }

  .recommended .card .slick-slide img {
    max-width: unset;
  }

  .coll-examples .slick-slide {
    margin: 0 5px;
    &:hover {
      transform: translateY(0);
      box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
    }
  }


  // .recommended__wrapper .card .slick-list,
  // .viewed__wrapper .card .slick-list {
  //   width: auto;
  //   margin: 0;
  // }
}

@media (max-width: 480px) {
  .about__slick .slick-slide img {
    height: 200px;
  }

  .catalog-top-slider .slick-slide img {
    min-height: 210px;
  }

  .catalog-top-slider .slick-list,
  .catalog-top-slider .slick-slide {
    min-height: 210px;
  }

  .catalog-top-slider .slick-arrow {
    width: 30px;
    height: 30px;
  }

  .recommended .slick-slide,
  .viewed .slick-slide {
    margin: 0 10px;
  }
}

@media (max-width: 375px) {
  .main-header__slick-next {
    top: 30%;
    right: 8px;
    width: 35px;
    height: 35px;
  }

  .main-header__slick .slick-dots {
    top: 43%;
    right: 18px;
  }

  .about__slick .slick-dots {
    margin-top: 5px;
  }

  .news .slick-dots {
    margin-top: 6px;
  }

  .news .slick-dots li:not(:last-child) {
    margin-right: 21px;
  }
}
