/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.main-header__slick .slick-list {
  padding-left: 0 !important;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  display: flex;

  img {
      display: block;
  }

  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}

.slick-slider .slick-disabled {
  opacity: 0.7;
}

.catalog-top-slider .slick-slide {
  // max-height: 420px;
  min-height: 420px;
}

.catalog-top-slider .slick-slide > div {
  height: 100%;
}

.catalog-top-slider__next,
.catalog-top-slider__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: none;
  background-size: cover;
  font-size: 0;
  z-index: 1;
}

.catalog-top-slider__next {
  right: 17.2%;
  background: url('../img/top-slider-arrow-right.png') no-repeat center 4px;

}

.catalog-top-slider__prev {
  left: 17%;
  background: url('../img/top-slider-arrow-right.png') no-repeat center 2px;
  transform: translateY(-50%) rotate(-180deg) ;
}

// .main-header__slick .slick-slide img {
//   width: 100%;
// }


.slick-arrow.slick-hidden {
  display: none;
}

.main-header__slick-prev {
  display: none !important;
}

.main-header__slick-next {
  position: absolute;
  top: 49%;
  right: 17.5%;
  z-index: 1;
  width: 55px;
  height: 65px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../img/top-slider-arrow-right.png') no-repeat center 5px;
  font-size: 0;
}

.main-header__slick .slick-dots {
  position: absolute;
  top: 45%;
  right: 23%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: block;
}

.main-header .main-header__slick .slick-dots li {
  margin: 0;
  margin-bottom: 21px;
}

.main-header__slick .slick-dots button {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: none;
}

.main-header__slick .slick-dots li.slick-active button {
  position: relative;
}

.main-header__slick .slick-dots li.slick-active button::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $white;
}

.f-about__slick .slick-slide {
  margin: 0 5px;
}

.f-about__slick .slick-slide.slick-current {
  position: relative;
}

.f-about__slick .slick-slide.slick-current::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 98.85%;
  background: rgba(0, 0, 0, 0.5);
}

.f-about__slick .slick-slide.slick-current + .slick-active + .slick-slide + .slick-slide {
  position: relative;
}

.f-about__slick .slick-slide.slick-current + .slick-slide + .slick-slide + .slick-slide::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 98.85%;
  background: rgba(0, 0, 0, 0.5);
}

.f-about__slick .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  width: 45px;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.f-about__slick .slick-arrow.slick-prev {
  left: 20%;
  background: url('../img/arrow-left.png');
}

.f-about__slick .slick-arrow.slick-next {
  right: 20.8%;
  background: url('../img/arrow-right.png');
}



.top-gallery .slick-list {
  border-radius: 5px;
}

.projects-preview .slick-slide {
  margin: 10px 5px 0;
  transition: all 0.2s linear;
  max-height: 350px;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
  }
}

.projects-preview .slick-slide > div {
  height: 100%;
}

.preview .slick-slide,
.viewed .slick-slide {
  margin: 0 15px;
}

.preview .card .slick-slide,
.viewed .card .slick-slide  {
  margin: 0;
}

.preview .card .card__colors .slick-slide,
.viewed .card .card__colors .slick-slide  {
  margin: 0 3px;
}

.preview .slick-slide > div,
.viewed .slick-slide > div {
  height: 100%;
}

.preview .slick-list,
.viewed .slick-list {
  padding-bottom: 20px;
  padding-top: 15px;
}

.preview .card .slick-list,
.viewed .card .slick-list {
  padding: 0;
}

.preview .card .card__colors .slick-list {
  padding-bottom: 0;
}

.preview .card .slick-slide img,
.viewed .card .slick-slide img {
  height: 100%;
}

.preview .card .slick-slide img {
  max-width: 370px;
}

.viewed .card .slick-slide img,
.preview .card .slick-slide img {
  width: 100%;
  height: 374px;
}

.preview .card .card__colors .slick-list .slick-track {
  max-width: 100%;
  padding: 0 15px;
}

.projects-preview img {
  width: 100%;
  height: 100%;
}


.top-gallery .slick-arrow,
.projects-preview .slick-arrow {
  position: absolute;
  width: 60px;
  height: 65px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  background-color: #ffffff;
  background-size: 35px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}

.single-new__top-gallery .slick-slide div > a {
  display: block !important;
}

.top-gallery__prev,
.projects-preview__slide-prev {
  background-image: url('../img/orange-arrow-left.png');
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.top-gallery__prev {
  left: 3%;
}

.projects-preview__slide-prev {
  left: 1%;
}

.top-gallery__next,
.projects-preview__slide-next {
  background-image: url('../img/orange-arrow-right.png');
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.top-gallery__next {
  right: 3%;
}

.projects-preview__slide-next {
  right: 1%;
}

// Слайдер "Цвета коллекции"

.collection__colors-list .slick-slide {
  margin: 5px 15px 0;
  transition: transform 0.1s linear;
  box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
}

.collection__colors-list .slick-slide:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(237, 117, 46, 0.2);
}

.collection__colors-list .slick-slide > div {
  height: 100%;
}

.collection__colors-list .slick-slide.collection__slick-active{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(237, 117, 46, 0.2);
}

.collection__colors-list .slick-list {
  margin: 0 -15px;
  padding-bottom: 20px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.slick-dots button {
  position: relative;
  width: 14px;
  height: 14px;
  box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
  border: 1px solid #ff7f00;
  padding: 0;
  background: none;
  border-radius: 50%;
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots li.slick-active button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: #ff7f00;
  border-radius: 50%;
}

.top-gallery__thumbs {
  width: 770px;
  margin: 16px auto 0;
  padding: 0;
  list-style: none;

  .slick-list {
    margin: 0 -15px;
  }

  .slick-slide {
    height: 130px;
    margin: 5px 15px;
    padding: 0;
    border-radius: 5px;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
}

.top-gallery__thumbs .slick-slide > div {
  height: 100%;
}

.top-gallery__thumb-active {
  transform: scale(1.01);
  box-shadow: 0 0 0 2px #ff7f00;
}

// Сертификаты

.certificates__slider .slick-slide {
  margin: 0 15px;
}

.certificates__slider .slick-list {
  margin: 0 -15px;
}

.certificates__slider .slick-slide img {
  width: 100%;
}

// Парнеры

.partners-slider .slick-slide {
  margin: 15px;
  min-height: 271px;
  box-shadow: 0 2px 17px rgba(17, 17, 17, 0.1);
  border-radius: 5px;
}

.partners-slider .slick-slide > div {
  height: 100%;
}

.partners-slider .slick-list {
  margin: 0 -15px;
}

@media (max-width: 1600px) {
  .catalog-top-slider__prev {
    left: 2%;
  }

  .catalog-top-slider__next {
    right: 2%;
  }
}

@media (max-width: 1400px) {
  .preview .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .preview .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .preview .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }

  .preview .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }

  .preview .card .slick-slide img {
    max-width: 100%;
  }
}

@media (max-width: 1366px) {
  .projects-preview img {
    min-height: 260px;
  }

  .viewed .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .viewed .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .viewed .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }

  .viewed .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }
}

@media (max-width: 1300px) {

  .main-header__slick-next {
    top: 41%;
    right: 5.5%;
  }
  .main-header__slick .slick-dots {
    top: 60%;
    right: 7.2%;
    z-index: 1;
  }

}


@media (max-width: 1024px) {

  .main-header__slick .slick-slide img {
    min-height: 627px;
  }

  .main-header__slick .slick-dots {
    top: 64%;
    right: 3.5%;
  }

  .main-header__slick-next {
    top: 46%;
    right: 1%;
  }

  .f-about__slick .slick-slide img {
    width: 100%;
    height: 240px;
  }

  .f-about__slick .slick-arrow.slick-prev {
    left: 1%;
  }

  .f-about__slick .slick-arrow.slick-next {
    right: 2%;
  }

  .catalog-top-slider .slick-slide {
    min-height: 390px;
  }

  .catalog-top-slider__next {
    right: 24px;
  }

  .catalog-top-slider__prev {
    left: 24px;
  }

  .top-gallery__prev {
    left: 0;
  }

  .top-gallery__next {
    right: 0;
  }

  .top-galleryn__gallery .slick-slide img {
    min-height: 450px;
  }

  .projects-preview .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .projects-preview .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .projects-preview .slick-dots li {
    margin-right: 15px;
  }

  .projects-preview .slick-dots li:last-child {
    margin-right: 0;
  }

  .projects-preview .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }

  .projects-preview .slick-list {
    padding: 10px 0;
  }

  .f-about__slick .slick-slide.slick-current::before {
   display: none;
  }

  .f-about__slick .slick-slide.slick-current + .slick-active + .slick-slide + .slick-slide {
    position: relative;
  }

  .f-about__slick .slick-slide.slick-current + .slick-slide + .slick-slide + .slick-slide::before {
    display: none;
  }

  .single-new__top-gallery .slick-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0px 0 0px;
    padding: 0 10px;

    li {
      width: 140px;
      height: 155px;
    }
  }

}

@media (max-width: 768px) {
  .main-header__slick-next {
    top: 46%;
    right: 23px;
  }

  .main-header__slick .slick-dots {
    top: 59.9%;
    right: 44px;
  }

  .collection__colors-list .slick-slide {
    box-shadow: 0 3px 10px rgba(17, 17, 17, 0.1);
  }

  .collection__colors-list .slick-slide:hover {
    box-shadow: 0 3px 10px rgba(237, 117, 46, 0.2);
  }

  .certificates__slider .slick-slide {
    margin: 0 13px;
  }

  .certificates__slider .slick-list {
    margin: 0 -13px;
  }

  .partners-slider .slick-list {
    margin: 0 -15px;
    padding-left: 0 !important;
  }

  .partners-slider .slick-slide {
    margin: 15px 7.5px;
  }

  .partners-slider .slick-list {
    margin: 0 -7.5px;
  }

}

@media (max-width: 767px) {
  .main-header__slick .slick-slide img {
    min-height: 400px;
  }

  .main-header__slick-next {
    top: 20%;
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: center 3px;
  }

  .main-header__slick .slick-dots {
    top: 36%;
    right: 38px;
  }

  .f-about__slick-item {
    width: 100% !important;
  }

  .f-about__slick .slick-dots,
  .news__list .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .news__list .slick-dots {
    margin: 20px auto 0;
  }

  .f-about__slick .slick-dots li:not(:last-child),
  .news__list .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }

  .f-about__slick .slick-dots button,
  .news__list .slick-dots button {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: 0 5px 6px rgba(17, 17, 17, 0.3);
    border: 1px solid #ff7f00;
    padding: 0;
    background: none;
    border-radius: 50%;
  }

  .f-about__slick .slick-dots li.slick-active button::before,
  .news__list .slick-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #ff7f00;
    border-radius: 50%;
  }

  .catalog-top-slider .slick-arrow {
    width: 50px;
    height: 50px;
    z-index: auto;
    background-size: cover;
    background-position: center 2px;
  }

  .catalog-top-slider__prev {
    display: none !important;
  }

  .top-gallery .slick-slide img {
    min-height: 280px;
  }

  .preview .slick-slide,
  .viewed .slick-slide {
    margin: 0 8px;
  }

  .collection__colors-list .slick-slide {
    margin: 5px 10px 0;
  }

  .collection__colors-list .slick-list {
    margin: 0 -5px;
  }

}

@media (max-width: 670px) {
  .preview .slick-slide,
  .viewed .slick-slide {
    margin: 0 15px;
  }

  .preview .card .slick-slide img {
    max-width: unset;
  }

  .projects-preview .slick-slide {
    margin: 0 5px;
    &:hover {
      transform: translateY(0);
      box-shadow: 0 5px 20px rgba(17, 17, 17, 0.1);
    }
  }

  .news__list .slick-slide {
    padding: 0 10px;
  }

  .news__list .slick-slide > div,
  .news__list .slick-slide {
    height: 100%;
  }

  .news__list .slick-slide .news__item {
    display: flex !important;
  }

  .news__list .slick-dots {
    margin-top: 10px;
  }

}

@media (max-width: 576px) {
  .collection__colors-list .slick-slide {
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .f-about__slick .slick-slide img {
    height: 200px;
  }

  .catalog-top-slider .slick-slide img {
    min-height: 210px;
  }

  .catalog-top-slider .slick-list,
  .catalog-top-slider .slick-slide {
    min-height: 210px;
  }

  .catalog-top-slider .slick-arrow {
    width: 35px;
    height: 35px;
  }

  .preview .slick-slide,
  .viewed .slick-slide {
    margin: 0 10px;
  }

  .top-gallery .slick-arrow {
    width: 48px;
    height: 40px;
    background-size: 28px 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .top-gallery__thumbs {
    .slick-slide {
      margin-left: 5px;
      margin-right: 5px;
    }

    .slick-list {
      margin: 0 -5px;
    }
  }

  .certificates__slider .slick-slide {
    margin: 0 5.5px;
  }

  .certificates__slider .slick-list {
    margin: 0 -5.5px;
  }

  .partners-slider .slick-slide {
    margin: 15px 5.5px;
  }

  .partners-slider .slick-list {
    margin: 0 -5.5px;
  }
}

@media (max-width: 375px) {
  .main-header__slick-next {
    top: 30%;
    right: 8px;
    width: 35px;
    height: 35px;
  }

  .main-header__slick .slick-dots {
    top: 43%;
    right: 18px;
  }

  .f-about__slick .slick-dots {
    margin-top: 5px;
  }

  .news__list .slick-dots {
    margin-top: 6px;
  }

  .news__list .slick-dots li:not(:last-child) {
    margin-right: 21px;
  }

}
