$primary-color: #252525;
$white: #ffffff;
$red: #e02222;
$orange: #ed8c2b;
$orange-saturate: #ff7f00;
$orange-dark: #de3a12;
$grey: #e2e0db;
$grey-light: #f0f0f0;
$black: #000000;
$desktop-width: 1170px;
$desktop-centerer: 996px;
$tablet-width: 769px;
$mobile-width-lg: 576px;
$mobile-width: 375px;
$century: "Century Gothic", "Arial", sans-serif;

